{% extends "layout.html" %}
{% set active_page = "advanced" %}
{% block body %}
 	


		<ul class="nav nav-pills">
			{% for name in elementlist %}
			{% set row_i = loop %}
				<li {% if name == selectedelement %} class="active"{% endif%}  style="font-size:1.4em;">
					<a href="#{{ name }}" data-toggle="tab">{{ name }}</a>
				</li>
			{% endfor %}
		</ul>
			



          	
        <div class="tab-content">
			
		{% for elem in elementlist %}
		{% set row_i = loop %}	
         <div class="tab-pane {% if elem == selectedelement %}active{% endif%}" id="{{ elem }}">
			 
			 <!---- start panel  -->
			 
		<form novalidate="true" action="{{ url_for('advanced') }}" method="post" name="theform">
			 
			 <input name="element" value="{{elem}}" type="hidden" />
			 
			 <input value="none" id="actionbtn{{elem}}" name="actionbtn" type="hidden" />
			 
			 <div class="panel panel-primary">
			  <div class="panel-heading">
				  <div class="row">
					<div class="panel-title col-xs-4"><span style="font-size:1.4em;">{{ elem }}

					</span></div>
						<div class=" col-xs-4">				
								<button name="goback" idref="actionbtn{{elem}}" value="back" type="submit" class="thebutton btn btn-primary btn-md btn-block btn-warp dontwantgap">
									Back

								</button>
						</div>

					<div class=" col-xs-4">
					<button name="save" idref="actionbtn{{elem}}" value="save" type="submit" class="thebutton btn btn-danger btn-md btn-block btn-warp dontwantgap">Save
					<span class="glyphicon glyphicon-saved"></span>
					</button>
					</div>
				</div>
			  </div>
			  <div class="panel-body dontwantgapleft dontwantgapright">

				
				<!---- panel  body -->
				

				
					{% set col = 2 %}
					{% set col_size = 12//col %}				
					{% for name in paramlist %}
					{% set col_i = loop %}



									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												<strong class="lead">{{ name }}</strong>
											</div>
											<div class="panel-body">
						 
												
													<div class="row" id="{{ elem }}{{ name }}">



														<div class="table-responsive">
															<table class="table table-striped">
																<thead>
																	<tr>
																		<!--{% for th in tablehead %}
																		<th><h6>{{ th }}</h6></th>
																		
																		{% endfor %}-->
																		<th>
																		<img src="/static/calendar BW.png" style="width:55px;height:40px" class="center-block" />
																		<div align="center">Time</div>
																		</th>																		
																		<th>
																		<img src="/static/time BW.png" style="width:45px;height:40px" class="center-block"/>
																		<div align="center">(min:sec)</div>
																		</th>
																		<th>
																		<img src="/static/temperature BW.png" style="width:45px;height:40px" class="center-block"/>
																		<div align="center">Temp</div>
																		</th>																		
																		<th>
																		<img src="/static/humidity BW.png" style="width:45px;height:40px" class="center-block"/>
																		<div align="center">Humid</div>
																		</th>																			
																		
																		
																	</tr>
																</thead>
																<tbody>
																	{% for rowp in table[row_i.index0][col_i.index0] %}
																	{% set rowp_i = loop %}
																	<tr>


																			<td class="col-xs-3 ">
																			

																				<!-- new -->

																						<div style="width: 100%" class="input-group clockpicker" data-autoclose="true">
																							<input readonly="readonly" type="text" class="form-control input-sm dontwantgap " value="{{ rowp[0] }}" name="{{elem}}{{ name }}_{{rowp_i.index0}}0">
																							<script type="text/javascript">
																							$('.clockpicker').clockpicker({ placement: 'top'});
																							</script>								
																						</div>

																				<!-- new -->
																					
																			</td>																			
																	
																			<td class="col-xs-3 ">
																				<div class="form-group">
																					<div class="controls">
																					<table class="dontwantgap" style="width: 100%">
																					<tr class="dontwantgap">
																					<td>	
																					<input style="text-align:left" type="number" class="form-control  dontwantgap input-sm" min="0" max="599"  step="1" value="0" id="{{elem}}{{ name }}_{{rowp_i.index0}}1minutes" />
																					</td>
																					<td>	
																					<b>:<b/>
																					</td>
																					<td>
																					<input type="number" class="form-control  dontwantgap input-sm" min="0" step="1" max="59" value="0" id="{{elem}}{{ name }}_{{rowp_i.index0}}1seconds" />
																					</td>
																					</tr>
																					</table>
																					</div>
																					
																					<!-- real value sent to the system -->
																					<input type="hidden" class="calculatetime " min="0" step="1" value="{{  rowp[1]  }}" name="{{elem}}{{ name }}_{{rowp_i.index0}}1" />

																				</div>																	

																					<script type=text/javascript>
																						var timeinsecstr={{rowp[1]}};
																						var timeinsec = parseInt(timeinsecstr, 10);
																						if (isNaN(timeinsec)) { timeinsec=0; }
																						var minutes = Math.floor(timeinsec / 60);
																						var seconds = timeinsec - minutes * 60;
																						$("#{{elem}}{{ name }}_{{rowp_i.index0}}1seconds").val(seconds)
																						$("#{{elem}}{{ name }}_{{rowp_i.index0}}1minutes").val(minutes)
	
								
																					</script>
																			
																			</td>

																			<td class="col-xs-3 ">
																				<div class="form-group">
																					<div class="controls">
																					<input type="number" class="form-control dontwantgap input-sm" min="0" step="1" value="{{  rowp[2]  }}" name="{{elem}}{{ name }}_{{rowp_i.index0}}2" />
																					</div>
																					<div class="help-block with-errors"></div>
																				</div>																	

																		
																			</td>

																			<td class="col-xs-3 ">
																				<div class="form-group">
																					<div class="controls">
																					<input type="number" class="form-control dontwantgap input-sm" min="0" step="1" value="{{  rowp[3]  }}" name="{{elem}}{{ name }}_{{rowp_i.index0}}3" />
																					</div>
																					<div class="help-block with-errors"></div>
																				</div>																	

																		
																			</td>


																	</tr>
																	{% endfor %}

																</tbody>
															</table>
														</div>
														<!-- /.table-responsive -->



																																											
													</div>


											</div>
											<!--<div class="panel-footer">
												<input value="{% if (table|length)>0 %}{{ table[row_i.index0][col_i.index0]}}{% endif %}" id="{{ elem }}{{ name }}_input" name="{{elem}}_{{col_i.index0}}" class="form-control" />						

											</div>-->
										</div>
									</div>




					
			
				
				
				<!-- -- end panel content --->
				{% endfor %}				
			  </div>
			  <div class="panel-footer">
				  <div class="row">
						<div class="panel-title col-xs-3">
							<span style="font-size:1.4em;">{{ elem }}
							</span>
						</div>
						<div class=" col-xs-3">				
								<button name="goback" idref="actionbtn{{elem}}" value="back" type="submit" class="thebutton btn btn-primary btn-md btn-block btn-warp dontwantgap">
									Back

								</button>
						</div>
						<div class=" col-xs-3">				
								<button name="setdefault" idref="actionbtn{{elem}}" value="setdefault" type="submit" class="thebutton small btn btn-danger btn-md btn-block btn-warp dontwantgap">
									Restore Default
								<span class="glyphicon glyphicon-cog"></span>
								</button>
						</div>
						<div class=" col-xs-3">
						<button name="save" idref="actionbtn{{elem}}" value="save" type="submit" class="thebutton btn btn-danger btn-md btn-block btn-warp dontwantgap">Save
						<span class="glyphicon glyphicon-saved"></span>
						</button>
						</div>
				  </div> 
 
				  
				  
				  
				  
				  
				  
			   </div>
			
			
			</div>
         
			</form>
         
         </div>
         {% endfor %}
          
         
         
         
         
        </div>
        



		<script type="text/javascript">

		
		
			$(function() {
				$(".thebutton").click(function() {
					var selvalue=$(this).attr('name');
					//alert(selvalue);
					var idref=$(this).attr('idref');
					$('#' + idref).attr("value", selvalue);
					timetoseconds();
				});  
			}); 
	
			function timetoseconds() {
				
			   $(".calculatetime").each(function() {
				   var namevalue=$(this).attr('name');
				   var sec_num = parseInt($("#"+namevalue+"seconds").val(), 10);
				   var min_num = parseInt($("#"+namevalue+"minutes").val(), 10);
				   if (isNaN(sec_num)) { sec_num=0; }
				   if (isNaN(min_num)) { min_num=0; }
				   var totseconds=sec_num + min_num * 60;																
					
				$(this).val(totseconds)


				});	

				
			}
	
		
		</script>  




{% endblock %}
