{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
		<script type=text/javascript>
			setInterval(                               //Periodically 
			  function() {
				$.ajax({
							type: "GET",
							url: $SCRIPT_ROOT + "/echo/",
							contentType: "application/json; charset=utf-8",
							data: { echoValue: "requestfordata" },
							success: function(data) {
								$('#PHResult1').text(data.PHvalue);
								$('#PHResult2').text(data.PHvalue);
							},
							//error: function(jqXHR, textStatus, errorThrown) {
							//    alert(errorThrown);
							//}
						});    
			  }
			  ,
			  500);                                    // And do it every 500ms
			  
			</script>
			<script type=text/javascript>
				$(function() {
					$( "#PHreference1" ).spinner({
						step: 0.1,
						max: 14,
						min: 0
						});
					$( "#PHreference1" ).spinner( "enable" );
					$( "#PHreference1" ).spinner( "value", "4.00" );

				});
				$(function() {
					$( "#PHreference2" ).spinner({
						step: 0.1,
						max: 14,
						min: 0
						});
					$( "#PHreference2" ).spinner( "enable" );
					$( "#PHreference2" ).spinner( "value", "10.00" );
				});
				$(function() {
					$( "button" ).button();
				});
			</script>
		

<!-- step 1 define the reference solution values -->
		
		<form novalidate="true" action="{{ url_for('Calibrate') }}" id="menuForm" class="jotform-form" method="post" >
			<div class="form-all">
				<ul class="form-section">
						<li id="cid_1" class="form-input-wide">
						<div class="form-header-group">
							<h2 id="header_1" class="form-header">PH probe Calibration</h2>
						</div>
						</li>
						<li class="form-line" id="id_3">
						<label class="form-label-left" id="label_3" for="input_3">PH reference solution 1<span class="form-required">*</span> 
						</label>
							<div id="cid_4" class="form-input">


							<input id="PHreference1" name="PHreference1" style="width: 100px" value="5.00" />

							
							</div>
						</li>
						<li class="form-line" id="id_4">
						<div id="cid_4" class="form-input">						
						<label class="form-label-left" id="label_4" for="input_4">PH reference solution 2<span class="form-required">*</span> 
						</label>



							<div class="form-label-left" >
							<input id="PHreference2" name="PHreference2" style="width: 100px" />
							</div>				
							
							

							<button id="submitBtn" type="button" name="submitBtn" style="width: 150px">Confirm values</button>

						</div>
						</li>

				</ul>

			<input id="Refsolution1" name="Refsolution1" value="ee" type="hidden"> 
			<input id="Refsolution2" name="Refsolution2" value="ee" type="hidden">			
			<script type=text/javascript>
			  $(function() {
				$("#submitBtn").click(function() {
				var value1 = $( "#PHreference1" ).spinner( "value" );
				var value2 = $( "#PHreference2" ).spinner( "value" );
				document.getElementById('Refsolution1').value=value1;
				document.getElementById('Refsolution2').value=value2;
				$( "#PHreference1" ).spinner( "disable" );
				$( "#PHreference2" ).spinner( "disable" );
				});
			  });
			</script>

<!-- step 2 insert the probe in the reference solutions and read the data -->
		
			<div class="form-all">
				<ul class="form-section">
						<li id="cid_10" class="form-input-wide">
						<div class="form-header-group">
							<h2 id="header_10" class="form-header">Reference PH Measure</h2>
						</div>
						</li>
						<li class="form-line" id="id_30">
							<label class="form-label-left" id="label_30" for="input_3">PH value</label>
							<div id="cid_40" class="form-input">
								<strong><div class="form-label-left" id='PHResult1'></div></strong>
							</div>
							<div id="cid_20" class="form-input-wide">
							<div style="margin-left:156px" class="form-buttons-wrapper">
								<button id="BtnPHref1" type="button" name="BtnPHref1" style="width: 150px">Freeze measure</button>
							</div>
							</div>
						</li>
				
				</ul>
				<ul class="form-section">
						<li class="form-line" id="id_31">
							<label class="form-label-left" id="label_31" for="input_3">EC value</label>
							<div id="cid_41" class="form-input">
								<strong><div class="form-label-left" id="PHResult2"></div></strong>
							</div>
							<div id="cid_21" class="form-input-wide">
							<div style="margin-left:156px" class="form-buttons-wrapper">
								<button id="BtnPHref2" type="button" name="BtnPHref2" style="width: 150px">Freeze measure</button>
							</div>
							</div>
						</li>
				
				</ul>
			</div>
			<input id="Refsolution1measure" name="Refsolution1measure" value="ee" type="hidden" > 
			<input id="Refsolution2measure" name="Refsolution2measure" value="ee" type="hidden">	
			<script type=text/javascript>
			  $(function() {
				$("#BtnPHref1").click(function() {
				var value=document.getElementById("PHResult1").innerHTML;							
				document.getElementById("Refsolution1measure").value=value;	
				$("#PHResult1").replaceWith('<div class="form-label-left">' + value + '</div>');
				$( "#BtnPHref1" ).button({ disabled: true });							
				});
			  });
			</script>
			<script type=text/javascript>
			  $(function() {
				$("#BtnPHref2").click(function() {
				var value=document.getElementById("PHResult2").innerHTML;							
				document.getElementById("Refsolution2measure").value=value;	
				$("#PHResult2").replaceWith('<div class="form-label-left">' + value + '</div>');
				$( "#BtnPHref2" ).button({ disabled: true });								
				});
			  });
			</script>

<!-- step 3 reset or complete calibration -->

				<ul class="form-section">

						<li class="form-line" id="id_30">

							<div id="cid_40" class="form-input">
								
								<button id="cancelbtn" type="button" style="width: 100px">Cancel</button>

								<button id="input_2" type="submit" style="width: 100px">Calibrate</button>

							</div>
						</li>
				<script type=text/javascript>
				  $(function() {
					$("#cancelbtn").click(function() {
						location.reload(true);
					
					});
				  });
				</script>

				</ul>
			</div>
		</div>

		</form>
		<div style="list-style: none outside none; position: absolute; z-index: 10000; display: none;" class="form-autocomplete-list"></div>
  
  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}