{% extends "layout.html" %}
{% set active_page = "HardwareSetting" %}
{% block body %}
  {% if session.logged_in %}
  
   
    <div class="container-fluid">
		
		
		
      
        
  
<!-- select and load preset HW config -->


     <div class="page-header">
						<h4 id="header">Select and Load preset HW config</h4>

	</div>

  

<form novalidate="true" action="{{ url_for('hardwaresetting') }}" method="post" >
  
    
  
	<div class="form-group">
		
		<select class="form-control input-sm dontwantgap" name="HWfilelist">
		{% for name in presetfilenamelist %}	
			{% set option_i = loop %}
			<option {% if option_i.index0==0 %}selected="selected"{% endif %} value="{{name.filename}}">{{name.title}}</option>
		{% endfor %}											
		</select>
		
	</div>	
														
	<button class="btn-sm btn btn-default" type="submit" name="buttonsub" value="applyHWpreset">Apply Selected Hardware Setting</button>
	<div class="small">All the customization and naming will be lost</div>		
	<div class="small">Switching from some HW config to another might disable I2C or SPI functions affecting the Analog and Sensor reading. In such case restart the system.</div>											
												
</form>
<!-- END END select and load preset HW config -->





  
<!-- second section table with the content of hwsetting -->
<form novalidate="true" action="{{ url_for('hardwaresetting') }}" method="post" >
  

            <div class="page-header">

						<h4 id="header">Hardware Configuration</h4>

            </div>

    

								
														
<!-- bootstrap-table -->	

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/src/bootstrap-table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/src/examples.css') }}">
    <script src="{{url_for('static', filename='bootstrap-table/src/bootstrap-table.js') }}"></script>    
    <script src="{{url_for('static', filename='bootstrap-table/src/extensions/export/bootstrap-table-export.js') }}"></script> 
    <script src="{{url_for('static', filename='bootstrap-table/src/extensions/export/tableExport.js') }}"></script>
			
														
<div id="toolbar">
		<button class="btn-sm btn btn-default" type="submit" name="buttonsub" value="edit">Edit Table</button>
														
</div>
    <table class="table table-striped table-sm"
		   id="table"
		   data-toggle="table"
           data-toolbar="#toolbar"
           data-search="true"
           data-show-refresh="true"
           data-show-columns="true"
           data-show-export="true"
           data-icon-size="sm" >

    </table>


<script>
	
// opertation functions to be put before the table declaration
window.actionEvents = {
    'click .like': function (e, value, row, index) {
            $table.bootstrapTable('insertRow', {
                index: row.id,
                row: row
            });
        alert('You click edit icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);

    },
    'click .edit': function (e, value, row, index) {
        alert('You click edit icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    },
    'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            });
    }
};

// opertation functions
function actionFormatter(value, row, index) {
    return [
        '<a class="like" href="javascript:void(0)" title="Like">',
        '<i class="glyphicon glyphicon-heart"></i>',
        '</a>',
        '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
        '<i class="glyphicon glyphicon-edit"></i>',
        '</a>',
        '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
        '<i class="glyphicon glyphicon-remove"></i>',
        '</a>'
    ].join('');
}

    var $table = $('#table'),
        $remove = $('#remove'),
        selections = [];
        
    var titlelist={{tablehead|safe}};
    var thecolumns = []; // create an empty array


	for (index = titlelist.length - 1; index >= 0; --index) {
		thecolumns.push({
			title: titlelist[index],
			field: titlelist[index]
		});		
	}
	var thedata=({{ hwdata|safe }});


        $('#table').bootstrapTable({
            columns: thecolumns,
               data: thedata
        });



</script>









</form>
																																											

		<!-- Download file -->
		<form novalidate="true" action="{{ url_for('hardwaresetting') }}" id="dwform" class="jotform-form" method="post" >

			<div class="page-header">
					  <h4>Download file (debugging only)</h4>   
			</div>
			<!--  file 1 -->
			<div class="row">
				<div class="col-xs-6">
					<button class="downloadbutton btn-sm btn btn-default"  type="button" name="downloadlog">Current Log file</button>
				</div>
				<div class="col-xs-6">
					<a id="downloadlinkdownloadlog0" href="" ></a>
				</div>
			</div>	
			<!--  file 1b -->
			<div class="row">
				<div class="col-xs-6">
					<button class="downloadbutton btn-sm btn btn-default"  type="button" name="downloadprevlog">Previous Log files</button>
				</div>
				<div class="col-xs-6">
					<a id="downloadlinkdownloadprevlog0" href="" ></a>
					<p></p>
					<a id="downloadlinkdownloadprevlog1" href="" ></a>
					<p></p>
					<a id="downloadlinkdownloadprevlog2" href="" ></a>
					<p></p>
					<a id="downloadlinkdownloadprevlog3" href="" ></a>
					<p></p>
					<a id="downloadlinkdownloadprevlog4" href="" ></a>
				</div>
			</div>
			<!--  file 1c -->
			{% if debugmode %}
			<div class="row">
				<div class="col-xs-6">
					<button class="downloadbutton btn-sm btn btn-default"  type="button" name="downloadlogSCHED">Scheduler Logs</button>
				</div>
				<div class="col-xs-6">
					<a id="downloadlinkdownloadlogSCHED0" href="" ></a>
				</div>
			</div>	
			{% endif %}	

			<!--  file 2 -->
			<div class="row">
				<div class="col-xs-6">
					<button class="downloadbutton btn-sm btn btn-default"  type="button" name="downloadHW">Hardware Config</button>
				</div>
				<div class="col-xs-6">
					<a id="downloadlinkdownloadHW0" href="" ></a>
				</div>
			</div>		

			<!--  file 3 -->
			{% if debugmode %}
			<div class="row">
				<div class="col-xs-6">
					<button class="downloadbutton btn-sm btn btn-default"  type="button" name="downloadsyslog">SysLog file</button>
				</div>
				<div class="col-xs-6">
					<a id="downloadlinkdownloadsyslog0" href="" ></a>
				</div>
			</div>	
			{% endif %}

			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-4">
					<label id="downloadstatus" for="input_3">Status</label>
				</div>
			</div>	

			<script type=text/javascript>
			  $(function() {
				$(".downloadbutton").click(function() {
				
				// send ajax interrupt to flask 
				$('#downloadstatus').text("Status");

					var prid=$(this).attr('name');
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/downloadit/?name=" + prid,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#downloadstatus').text(data.answer);
									if (data.answer=="ready"){
										   setTimeout(function(){
													d = new Date();
													var filename=data.filename;
													//var fileurl="{{ url_for('static', filename=filename)}}"+"?"+d.getTime();
													
													fLen = filename.length;
													for (i = 0; i < fLen; i++) {
														var fileurl="{{ url_for('static', filename="")}}"+filename[i]+"?"+d.getTime();
														var filenameGUIlist=filename[i].split("/");
														var filenameGUI=filenameGUIlist[filenameGUIlist.length-1];
														$('#downloadlink'+prid+i.toString()).text(filenameGUI);
														$('#downloadlink'+prid+i.toString()).attr("href", fileurl);


													}
													
													
													
													
													

											}, 200);
									}

								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    
				
				// increment status bar should stay here


					
				});

			  });
			</script>


		<!-- testing function button -->
		<form novalidate="true" action="{{ url_for('show_Calibration') }}" id="dwform" class="jotform-form" method="post" >
		  
		  {% if debugmode %}
			<div class="page-header">
					  <h4>Function test (debugging only)</h4>   
			</div>
			<!--  button 1 -->
			<div class="row">
				<div class="col-xs-4">
					<label >Testing</label>
				</div>
				<div class="col-xs-4">
					<button class="testingbutton btn-sm btn btn-default"  type="button" name="testing1">Automation Hat testing</button>
				</div>

			</div>	
			<!--  button 2 -->
			<div class="row">
				<div class="col-xs-4">
					<label >Testing</label>
				</div>
				<div class="col-xs-4">
					<button class="testingbutton btn-sm btn btn-default"  type="button" name="testing2">Irrigation Hat testing</button>
				</div>

			</div>	

			<!--  button 3 -->
			<div class="row">
				<div class="col-xs-4">
					<label >Testing</label>
				</div>
				<div class="col-xs-4">
					<button class="testingbutton btn-sm btn btn-default"  type="button" name="testing3">Super Hat testing</button>
				</div>

			</div>	

			<!--  button 4 -->
			<div class="row">
				<div class="col-xs-4">
					<label >Testing</label>
				</div>
				<div class="col-xs-4">
					<button class="testingbutton btn-sm btn btn-default"  type="button" name="testing">Generic testing</button>
				</div>

			</div>

			<!--  button 4 -->
			<div class="row">
				<div class="col-xs-4">
					<label >Testing</label>
				</div>
				<div class="col-xs-4">
					<a href="{{ url_for('embedpage', url="192.168.1.179") }}">Test Embed Page</a>

				</div>

			</div>



			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-4">
					<label id="testingstatus" for="input_3">Status</label>
				</div>
			</div>	
		  {% endif %}

			<script type=text/javascript>
			  $(function() {
				$(".testingbutton").click(function() {
				
				// send ajax interrupt to flask 
				$('#testingstatus').text("Status");

					var prid=$(this).attr('name');
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/testit/?name=" + prid,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#testingstatus').text(data.answer);

								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    
				
				// increment status bar should stay here


					
				});

			  });
			</script>

	



		<!-- section with refresh button -->
		<form novalidate="true" action="{{ url_for('hardwaresetting') }}" method="post" >
			<!-- Refresh hardware setting            -->
			<div class="page-header">
				<h4>Refresh Hardware Setting</h4>   
			</div>


			<!-- RPi reset button-->

			<div class="row">

				<div class="col-xs-4">
					<button class="btn-sm btn btn-success" type="submit" name="buttonsub" value="refresh">Refresh</button>
				</div>
			</div>				

		</form>




			
			<!-- RPi reset button            -->
			<div class="page-header">
				<h4>Don't Click the button below</h4>   
			</div>


			<!-- RPi reset button-->

			<div class="row">

			<div class="col-xs-12">

			<a href="{{ url_for('dontclick') }}">
			<button id="dontclickbtn" name="buttonsub" value="dontclickbtn" class="btn btn-danger btn-sm btn-warp">
				Don't click me
			<span class="glyphicon glyphicon-cog"></span>
			</button>
			</a>


			</div>
			</div>			




			<div class="page-header">
					  <h4>Running Status</h4>   
			</div>
			<!--  debugstatus -->

			<div class="row">
				<div class="col-xs-4">
					<label>DebugStatus:</label>
				</div>
				<div class="col-xs-4">
					<label id="testingstatus" for="input_3">{{debugmode}}</label>
				</div>
			</div>	


 
   </div> 
  {% else %}

		<h1>Please log in</h1>

  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
