{% extends "layout.html" %}
{% set active_page = "HardwareSetting"  %} <!-- if left "" the menu will not be shown in the page -->
{% block body %}
  {% if session.logged_in %}
  
   
    <div class="container-fluid">
							
<!-- bootstrap-editable -->	

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap3-editable/css/bootstrap-editable.css') }}">
<script src="{{url_for('static', filename='bootstrap3-editable/js/bootstrap-editable.js') }}"></script>
		
<!-- Warning -->
    <div class="container-fluid">
		<div class="row">
          <div class="col-xs-12">
            <div class="page-header">

						<h4 id="header">WARNING: don't modify the data on this page unless you know what you are doing. This page is for very expert only.</h4>

            </div>
          </div>
        </div>
        
        
        



		<div class="row">
          <div class="col-xs-12">
            <div class="page-header">
				<div class="row">
					<div class="col-xs-8">
						<h4 id="header">Hardwaresetting Configuration options</h4>
					</div>
				</div>
            </div>
          </div>
        </div>
  
<!-- first section add record -->
<form novalidate="true" action="{{ url_for('hardwaresettingedit') }}" id="menuForm" method="post" >
  
    
  
													<div class="table-responsive">
															<table class="table table-striped">
																<thead>
																	<tr>
																		<th><h6>AddRow</h6></th>	
																		{% for th in tablehead %}
																		<th><h6>{{ th }}</h6></th>																			
																		{% endfor %}
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>
<button class="thebutton btn-sm btn btn-default" type="submit" name="buttonsub" value="addrow">Add</button>

																		</td>
																		{% for th in tablehead %}

																			<td>
																			<div class="form-group">	
																			{% if fields[th]|length<1 %}
<a class="editable" href="#" id={{ th }} data-type="text" data-pk="addrow" data-url="/HWsettingEditAjax/" data-title="Enter {{ th }}" data-name="{{ th }}">{{additionalrow[th]}}</a>

																			{% else %}		

<a class="editable-select-{{ th }}" href="#" id={{ th }} data-type="select" data-pk="addrow" data-url="/HWsettingEditAjax/" data-title="Enter {{ th }}" data-name="{{ th }}"  data-Value={{additionalrow[th]}}></a>

																			  {% endif %}
																			  </div>																							
																						
																						
																			</td>
																			
																		{% endfor %}

																	</tr>
																</tbody>
															</table>
															<!-- /.table-responsive -->		
														</div>
														

							
<!-- edit entyre table -->	
							
													<div class="table-responsive">
															<table id="tablemain" class="table table-striped">
																<thead>
																	<tr>
																		<th><h6>Delete</h6></th>	
																		{% for th in tablehead %}
																		<th><h6>{{ th }}</h6></th>																			
																		{% endfor %}
																	</tr>
																</thead>
																<tbody>
																	{% for rowdict in hwdata %}

																	<tr>
	<td>										
		<!--<button class="btn-sm btn btn-default" type="submit" name="buttonsub" value="delete_{{rowdict[tablehead[0]]}}">Del</button>
		-->
		<button class="btn-sm btn btn-default" type="submit" name="buttonsub" value="delete_{{rowdict['name']}}">Del</button>
		


	</td>
																		
																		{% for th in tablehead %}


																		<td>
																			<div class="form-group">	
																			{% if fields[th]|length<1 %}
<a class="editable" href="#" id={{ th }} data-type="text" data-pk={{ rowdict["name"] }} data-url="/HWsettingEditAjax/" data-title="Enter {{ th }}" data-name="{{ th }}">{{ rowdict[th] }}</a>

																			{% else %}		
																			
<a class="editable-select-{{ th }}" href="#" id={{ th }} data-type="select" data-pk={{ rowdict["name"] }} data-url="/HWsettingEditAjax/" data-title="Enter {{ th }}" data-name="{{ th }}" data-Value={{ rowdict[th] }}></a>
																					
																			{% endif %}
																			</div>																							
																						
																						
																		</td>
																			
																		{% endfor %}

																	</tr>
																	{% endfor %}

																</tbody>
															</table>
														</div>
														<!-- /.table-responsive -->
							
							
							
														
	<button class="btn btn-success btn-default" type="submit" name="buttonsub" value="confirm">Confirm and Save</button>

	<button class="btn btn-default" type="submit" name="buttonsub" value="reload">Reload Table</button>

	<button class="btn btn-default" type="submit" name="buttonsub" value="cancel">Cancel</button>							
	
	<!-- bootstrap-editable -->	
		<script type="text/javascript">	
			//turn to inline mode
			$.fn.editable.defaults.mode = 'popup';
						
			
			$(document).ready(function() {

						$('.editable').editable();
						
						
			var headlist={{tablehead|safe}};			
			var fieldlist={{fields|safe}};
			for (i = 0; i < headlist.length; i++) {
						var thesource=[];				
						for (j = 0; j < fieldlist[headlist[i]].length; j++) {  
							thesource.push({
									value:fieldlist[headlist[i]][j],
									text: fieldlist[headlist[i]][j]
								});
							}				
				
				
						$('.editable-select-'+headlist[i]).editable({ 
							source: thesource
						});
				} 						

			// it is required to update the field Pk in the select.
			$('.editable').on('save', function(e, params) {
				//alert('Saved value: ' + params.newValue);
				var fieldname=$(this).attr('data-name');
				//$(this).attr('data-pk', params.newValue);
				if (fieldname == "name") {
					//alert("updating pk");
					$(this).editable('option', 'pk', params.newValue);
				}
			});

			});
						
			
		</script>
								
								



											
														
									
</form>
  
   </div> 
  {% else %}

		<h1>Please log in</h1>

  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}

