{% extends "layout.html" %}
{% set active_page = "home" %}
{% block body %}
  {% if session.logged_in %}
  <div class="container-fluid">


		<div class="row">
          <div class="col-xs-12">
            <div class="page-header">
				<div class="row">
					<div class="col-xs-8">
						<h4 id="header">Today Report {{currentday}} - last 24 hours data</h4>
					</div>
				</div>
            </div>
          </div>
        </div>
       		

            <!-- /.row -->
            <div class="row">
				
				{% for photopanel in photopanellist %}				
				<!-- photo panel -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading smallgap">
								<a href="{{ url_for('static', filename=photopanel.file)}}" title="{{ pt }}">
								<img src="{{ url_for('static', filename=photopanel.thumb)}}" class="img-responsive center-block">
								</a>
                        </div>
                        <div class="panel-footer smallgap">
							<a href="{{photopanel.link}}">							
                                <span class="pull-left small">{{photopanel.linktitle}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
							</a>                               
                        </div>

                    </div>
                </div>
				<!-- end photo panel -->
				{% endfor %}
				
				{% for panelinfo in panelinfolist %}
				<!-- sensor and actuators panel -->
				{% if panelinfo.active=="yes" %}
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-{{panelinfo.color}}">
                        <div class="panel-heading ">
								<!-- Picture-->
								<div class="row dontwantgap">
									<div class="col-lg-6 col-xs-6 dontwantgapleft">
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 dontwantgapleft">
										<img src="{{ url_for('static', filename=panelinfo.icon)}}" class="img-responsive left-block">
										</div>
									</div>
									<!-- Title-->

									<div class="col-lg-6 col-xs-6 text-left dontwantgapright dontwantgapleft top-buffer huge">{{panelinfo.title}}
									</div>
									
								</div>									
									<!-- data list here -->
								<hr class="dontwantgaptop"></hr>
								{% for paneldata in panelinfo.data %}
								<div class="row dontwantgap">
									<div class="col-xs-6 text-left dontwantgap big">{{paneldata.name}}:
									</div>
									<div class="col-lg-6 col-xs-6 text-left dontwantgap">
										<span class="big">{{paneldata.average}}</span><span class="small">({{paneldata.unit}})</span>
					
									</div>
								</div>
								<div class="row dontwantgap">
									
									{% if paneldata.min!="" %}
									<div class="col-lg-6 col-xs-6 text-left dontwantgap"></div>
									<div class="col-lg-6 col-xs-6 text-left dontwantgap">
									<div class="small">MIN={{paneldata.min}} MAX={{paneldata.max}}</div>
									</div>
									{% endif %}	
											
								</div>									
								{% endfor %}
									
									

                        </div>
                        <div class="panel-footer smallgap">
							<a href="{{panelinfo.link}}">								
                                <span class="pull-left small" >{{panelinfo.linktitle}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
							</a>                                
                        </div>

                    </div>
                </div>
                {% endif %}
                {% endfor %}

				<!-- Video panel -->
               <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-eye fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Video</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">                       
                        <a href={{videolink}}>
                                <span class="pull-left small">Go to Video</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                        </a>                            
                        </div>
                    </div>
                </div>






				<!-- Setting panel -->
               <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cogs fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Setting</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">                       
                        <a href={{settinglink}}>
                                <span class="pull-left small">Go to Setting</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                        </a>                            
                        </div>
                    </div>
                </div>
                
                <!-- Network panel -->
               <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-rss fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Network</div>
                                </div>
                            </div>
                        </div>
   
                        <div class="panel-footer">
                        <a href={{networklink}}>								
                                <span class="pull-left small">Go to Network</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                        </a>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.row -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    </div>
  
  
  {% else %}

		<h1>Please log in</h1>

  
  {% endif %}

{% endblock %}
