{% extends "layout.html" %}
{% set active_page = "network" %}
{% block body %}
  {% if session.logged_in %}
  
  
  
  <div class="container-fluid">

		
  		<form novalidate="true" action="{{ url_for('network') }}" id="menuForm" class="jotform-form" method="post" >
			<div class="page-header">
		        <h3>WiFi Setting</h3>   
			</div>
			
		<div class="well bs-component well-sm ">
			<div class="form-group">			
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<legend>Available WiFi networks</legend>  
				</div>	
			</div>	
	
			<div id="wifilistplace"></div>
			<div id="wifilistwait"><b style="color:red">Scanning wifi networks <span id="wait">.</span></b> </div>
	
			<div class="page-header">
			<div class="form-group">			
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<legend>Local System Access Point</legend>  
				</div>	
			</div>	
			</div>			
				<div class="row">
					<div class="col-xs-12">
						
						{% if localwifisystem==connectedssid %}<span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
						{% else %}<span class="glyphicon glyphicon-remove-sign" style="color:red"></span>
						{% endif %}
						
						<a>{{ localwifisystem }}</a>
					</div>
				</div>	
		</div>	
			
			<div class="page-header">
				<h3>Connection parameters</h3>   
			</div>	
			<div class="well bs-component well-sm ">	
				<div class="row">
					<div class="col-xs-12">
						<p>Local IP address: <a><strong>{{iplocalwifi}}</strong></a></p>						
						<p>IP PORT: <a><strong>{{ipport}}</strong></a></p>
						<p></p>				
						<p>LocalHost: <a><strong>{{hostname}}</strong></a></p>	
						<p>URL for LOCAL connection: <a><strong>{{hostname}}:{{ipport}}</strong></a></p>
						<p></p>
						{% for ipaddr in iplocallist %}
							<p>URL for LOCAL Connection: <a><strong>{{ipaddr}}:{{ipport}}</strong></a></p>
						{% endfor %}						
						
						{% if localwifisystem == connectedssid %}
						{% else %}
						<p></p>
							<p>In case of port forwarding enableb on your router</p>						
							<p>URL for REMOTE Connection: <a><strong>{{ipext}}:{{ipport}}</strong></a></p>
						{% endif %}
						
						
					</div>						
				</div>						
				</div>							
				
			{% if message!="" %}	
			<div class="page-header">
				<h3>Warning Message</h3>   
			</div>	
			<div class="well bs-component well-sm ">	
				<div class="row">
					<div class="col-xs-12">
						<p>{{message}}</p>						

						
					</div>						
				</div>						
			</div>							
			{% endif %}			
						


			
			
			
			
			
		</form>
  
  
		
		<form novalidate="true" action="{{ url_for('networksetting') }}" id="networksetting" method="post" >
            <div class="page-header">
			<div class="row">
				<div class="col-xs-4">
				
					<!-- advanced setting button -->
			
					<button name="button" value="show" type="submit" class="thebutton btn btn-danger btn-sm btn-warp">
						Advanced Setting
					<span class="glyphicon glyphicon-cog"></span>
					</button>
		
				</div>
			</div>
			</div>
		</form>  
		
			

  
  
  


	
  </div>
  
  
  
    
     <!-- wifi list data using ajax -->
   
   		<script type=text/javascript>


			 $(document).ready(function() {
				//alert("starting");
				$.ajax({
							type: "GET",
							url: $SCRIPT_ROOT + "/echowifi/?element=" + "all" ,
							contentType: "application/json; charset=utf-8",
							data: { echoValue: "requestfordata" },
							success: function(s) {
								var data = eval(s); // this will convert your json string to a javascript object
								$('#wifilistwait').remove()
								for (var key in data) {
										//alert(data[key]);
										var htmltext1='<div class="row"><div class="col-xs-8">';
										var htmltext1a='';
										if (data[key][1]=="1") {
											var htmltext1a='<span class="glyphicon glyphicon-ok-sign" style="color:green"></span>';
										} else {
											var htmltext1a='<span class="glyphicon glyphicon-remove-sign" style="color:red"></span>';
										}
										var urlcontent='{{ url_for("wificonfig")}}'+'?ssid='+key;
										var htmltext2='<a href="'+urlcontent+'">'+key+'</a>';
														
										var htmltext3='</div><div class="col-xs-4"><div> '+data[key][0]+' </div></div></div>';
										

										
										$('#wifilistplace').append(htmltext1+htmltext1a+htmltext2+htmltext3);
									
						
								}
							},								
							complete: function() {
							  // Schedule the next request when the current one's complete

							//    alert(errorThrown);
							//}

							}


							//error: function(jqXHR, textStatus, errorThrown) {
							//    alert(errorThrown);
							//}
						});
						
			  });

			
			 
			</script>
  


			<script>
				window.dotsGoingUp = true;
				var dots = window.setInterval( function() {
					var wait = document.getElementById("wait");
						if (wait !== null && wait !== '') {
						if ( window.dotsGoingUp ) 
							wait.innerHTML += ".";
						else {
							wait.innerHTML = wait.innerHTML.substring(1, wait.innerHTML.length);
							if ( wait.innerHTML === "")
								window.dotsGoingUp = true;
						}
						if ( wait.innerHTML.length > 9 )
							window.dotsGoingUp = false;

					}

					}, 100);
			</script>
  
	
  
  
  {% else %}

		<h1>Please log in</h1>
		
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
