{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

	 <div class="container-fluid">


      <form class="form-horizontal" action="{{ url_for('networksetting') }}" method=post>


				
				
				<!-- Setting part  OOOOOOOOOOOOOOOOOOOOOO-->
				
			<div class="well bs-component">
				
					<div class="form-group">			
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<legend>Parameters Setting</legend>  
								</div>	
							</div>	

							
							<div class="form-group">

								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label>WiFi IP Address</label>
								</div>		
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<input type="text" class="form-control" placeholder={% if address=="" %}"IP address"{% else %}"{{IPADDRESS}}"{% endif %} name="IPADDRESS" value="{{IPADDRESS}}">
								<div class="small">Wifi IP address for local connection, the system will try to set this address as static IP address in the router. Make sure this Address belongs to the same WiFi subnet for the router</div>

								</div>

							</div>	

						
							<div class="form-group">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label>Access Point SSID Name</label>
								</div>		
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<input type="text" class="form-control" placeholder={% if address=="" %}"AP SSID"{% else %}"{{AP_SSID}}"{% endif %} name="AP_SSID" value="{{AP_SSID}}">
 
								</div>
							</div>	

							<div class="form-group">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label>Access Point Password</label>
								</div>		
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
										<input type="password" class="form-control"  placeholder="{{AP_PASSWORD}}" name="AP_PASSWORD" value="{{AP_PASSWORD}}">
  
								</div>
							</div>	




							<div class="form-group">		
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<label>Access Point time (sec):
								</label>

								
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								
								{% set arr=["0","60","120","180","240","300"] %}	 			
								  <select class="form-control dontwantgap" name="AP_TIME">
									{% for item in arr %}
									<option {% if item==AP_TIME %}selected="selected"{% endif %} >{{item}}</option>
									{% endfor %}
								  </select>
								
								<div class="small">Every time the system is started, it setup the WiFi access point for the number of seconds indicated in this field, after this time the system try to connect to the WiFi netowrk if this is configured </div>

								</div>				
							</div>


							<div class="form-group">		
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<label>WiFi Enabled/Disabled:
								</label>

								
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								
								{% set arr=["Enabled","Disabled"] %}	 			
								  <select class="form-control dontwantgap" name="WIFIENDIS">
									{% for item in arr %}
									<option {% if item==WIFIENDIS %}selected="selected"{% endif %} >{{item}}</option>
									{% endfor %}
								  </select>
								
								<div class="small">In case you have wired connection you can disable the WiFi using this setting. Make sure to delete all the already saved wifi networks (clicking "forget") </div>

								</div>				
							</div>							
							
							<div class="form-group">		
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<label>Host Name:</label>
								</div>

	
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<input type="text" class="form-control" placeholder={{HOSTNAME}} name="HOSTNAME" value="{{HOSTNAME}}">

								
								<div class="small">Hostname is set to easily reach the system when using local network, To be effecetive, after clicking the submit button, the system should be restarted </div>

								</div>			
							</div>
											
							<div class="form-group">		
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<label>Force Static IP on Router:</label>
								</div>

	
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								
									{% set arr=["True","False"] %}	 			
									  <select class="form-control dontwantgap" name="forceStaticIP">
										{% for item in arr %}
										<option {% if item==forceStaticIP %}selected="selected"{% endif %} >{{item}}</option>
										{% endfor %}
									  </select>
									
									<div class="small">If True, try to set the static IP on the WiFi router (some routers might not support this option) </div>
	
									</div>			
							</div>
			
                  <div class="form-group">
					  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <!--<button type="reset" class="btn btn-default">Cancel</button> -->
                      <button name="button" type="submit" class="btn btn-primary" value="save">Submit</button>
					  <button name="button" type="submit" class="btn btn-default" value="cancel">Cancel</button>

					 </div>
                  </div>


			</div>	
              


      </form>
      </div>	
 <!-- end form --> 
  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
