{% extends "layout.html" %}
{% set active_page = "network" %}
{% block body %}
  {% if session.logged_in %}
  <div class="container-fluid">

		
  		<form novalidate="true" action="{{ url_for('network') }}" id="menuForm" class="jotform-form" method="post" >
			<div class="page-header">
		        <h3>Available WiFi networks</h3>   
			</div>
			{% for index1 in range(wifilist|length) %}	
			<div class="row">
				<div class="col-xs-8">
					{% if wifilist[index1]==connectedssid %}<span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
					{% else %}<span class="glyphicon glyphicon-remove-sign" style="color:red"></span>
					{% endif %}
				
					<a href="{{ url_for('wificonfig', ssid=wifilist[index1])}}">
						{{ wifilist[index1] }}
					</a>
				
				</div>
				<div class="col-xs-4">
					<div>
						{{ savedwifilist[index1] }}
					</div>
				</div>				

			</div>	
			{% endfor %}				
	
	
			
			
			<div class="page-header">
				<h3>Local System Access Point</h3>   
				</div>
				<div class="row">
					<div class="col-xs-12">
						
						{% if localwifisystem==connectedssid %}<span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
						{% else %}<span class="glyphicon glyphicon-remove-sign" style="color:red"></span>
						{% endif %}
						
						<a>{{ localwifisystem }}</a>
					</div>
				</div>	

			
			<div class="page-header">
				<h3>Local IP address</h3>   
				</div>
				<div class="row">
					<div class="col-xs-12">
						
						
						{% if localwifisystem==connectedssid %}
						<p></p><a>Connected IP address {{iplocal}}</a>					
						<p></p><a>IP address of the WiFi Acces point of this system {{iplocalwifi}}</a>
						<a>IP PORT {{ipport}}</a>	
						{% else %}
						<p></p><a>Local IP address for router setting {{iplocal}}</a>
						<a>IP PORT for router setting {{ipport}}</a>						
						{% endif %}
					
						
						
						

					</div>
				</div>	
			
			
			
			
			
			
		</form>
  

			

  
  
  


	
  </div>
  {% else %}

		<h1>Please log in</h1>
		
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
