{% extends "layout.html" %}
{% set active_page = "showcalibration" %}
{% block body %}
  {% if session.logged_in %}
  <div class="container-fluid">
	  
	  
		<!-- hbridge Actuators test -->
  
  		<form novalidate="true" action="{{ url_for('sethbridge') }}" id="menuForm" method="post" >
			<div class="page-header">
					  <h3>hbridge Actuators Test</h3>   
			</div>
			
			<div class="well bs-component smallgap">
			
			

			
			
			<table class="table" margin: 20px;>
			<thead>
				<tr>
					<th>hbridge</th>
					<th>Position</th>
					<th>Busy</th>
					<th>SetTo</th>
					<th>Set</th></th>
				</tr>
			</thead>
			<tbody>
			
			
			

			{% for item in hbridgelist %}	
			<tr>

				<td>
					<label>{{ item }}</label>
				</td>
				
				<td>
						<label class="form-label-left" id="{{ item }}_hbridgestatus" >{{hbridgestatuslist[loop.index0]["position"]}}</label>
						
				</td>

				<td>
						<label class="form-label-left" id="{{ item }}_hbridgebusy" >{{hbridgestatuslist[loop.index0]["busy"]}}</label>
				</td>


				  <td>
							<input value="0" class="form-control input-sm" id="newposition_{{ item }}" name="title" type="text">

				  </td>	
				  		
							
				<td>
					<button class="hbridgebutton btn-sm btn btn-default btn-block" type="button" name="sethbridge" element="{{item}}">Set</button>
				</td>




			</tr>
			{% endfor %}				

        </tbody>
    </table>
	
			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-8">
					<label class="form-label-left" id="hbridgestatus" for="input_3"></label>
				</div>
			</div>	


	<button class="btn btn-success btn-default" type="submit" name="buttonsub" value="cancel">Done</button>

		</div>
			 <script type=text/javascript>
			  $(function() {
				$(".hbridgebutton").click(function() {
				
				// send ajax interrupt to flask to initiate the actuator test
				
					var prid=$(this).attr('name');
					var elem=$(this).attr('element');
					var value = $("#newposition_" + elem).val();					
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/doit/?name=" + prid + "&name=" + value + "&element=" + elem,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#hbridgestatus').text(data.answer);
									$('#' + elem +'_hbridgestatus').text(data.answer);
		
									
									
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown); $("#thebutton").attr('name')
								//}
							});    
				  
					
							$('#hbridgestatus').text("waiting ...");

					
				});
			  });
			   
			  
			  
			</script>
			
			
		</form>			
			

 
   </div> 
  {% else %}

		<h1>Please log in</h1>

  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
