{% extends "layout.html" %}
{% set active_page = "showcalibration" %}
{% block body %}
  {% if session.logged_in %}
  
  
  
  
  <div class="container-fluid">
	  
	  

	  
		<script type=text/javascript>

			
			
			$(document).ready(function()
			{
				$(".seltimeclass").each(function() {
				var seltime=$(this).attr('valueinit');
				//alert(seltime);
				for (var i=0; i<48; i++)
				  {
					//Creates the time item and populate il select
					var minh= (((i)%2)*3).toString() ;
					var minl= "0";
					var hourl=(((i/2) - (i/2) % 1) % 10).toString() ;
					var hourh=((i/20) - (i/20) % 1).toString() ;
					var time=hourh+hourl+":"+minh+minl
					if (time==seltime)
					{
					var itemval= '<option selected="selected" value="'+time+'">' + time +'</option>';
					} else
					{
					var itemval= '<option value="'+time+'">' + time +'</option>';
					}
					//Appends it within your select element
					$(this).append(itemval);
				  }
				});	
			});
			
			
			
			
			
			</script>


    
   <!-- new Table for sensor data using ajax -->
   
   		<script type=text/javascript>


			  (function worker() {

				$.ajax({
							type: "GET",
							url: $SCRIPT_ROOT + "/echodatabase/?element=" + "all" ,
							contentType: "application/json; charset=utf-8",
							data: { echoValue: "requestfordata" },
							success: function(s) {
								var data = eval(s); // this will convert your json string to a javascript object
								for (var key in data) {
									//alert(key+': '+data[key]); // this will show each key with it's value
									$('#' +key).text(data[key]);	
						
								}
							},								
							complete: function() {
							  // Schedule the next request when the current one's complete

							}


							//error: function(jqXHR, textStatus, errorThrown) {
							//    alert(errorThrown);
							//}
						});
			  
			  })();

			
			 
			</script>


		<form novalidate="true" action="{{ url_for('show_realtimedata') }}" id="PHform" method="post" >

			<div class="page-header">
					  <h3>Sensor data </h3>   
			</div>

			
			
			
			<!--  result  -->
	<div class="well bs-component dontwantgap">
		<table class="table" margin: 20px;>
        <thead>
            <tr>
                <th>Sensor</th>
                <th>Last Value (Database)</th>
                <th>Unit</th>
                <th>Action</th>
            </tr>
        </thead>
		<tbody>
			{% for item in sensorlist %}	

			
			 <tr>			
					<td >{{ item }}</td>

					<td id="{{ item }}"></td>
					
										
					<td>{{ unitdict[item] }}</td>
					
					<td>
						<button class="sensorbutton btn-sm btn btn-default" type="submit" name="{{item}}">Read</button>
					</td>

			 </tr>	
			
			
			
			{% endfor %}
		
        </tbody>
    </table> 
    <input value="{{selectedsensor}}" id="postsensor" name="postsensor" type="hidden">
    <script type="text/javascript" charset="utf-8">
                
			$(function() {
					$(".sensorbutton").click(function() {
						var selvalue=$(this).attr('name');
						$('#postsensor').attr("value", selvalue);
					});  
				});  
     </script>	
    
    
    
    

    			</div>
		</form>
    
	<!-- end new table -->		

		

  
		<!-- Pulse Actuators test -->
  
  		<form novalidate="true" action="{{ url_for('show_Calibration') }}" id="menuForm" class="jotform-form" method="post" >
			<div class="page-header">
					  <h3>Actuators Test</h3>   
			</div>
			
			<div class="well bs-component dontwantgap">
			
						<!--  Actuator table   -->
			<table class="table" margin: 20px;>
			<thead>
				<tr>
					<th>Name</th>
					<th>Time Seconds</th>
					<th>TEST</th>
					<th>STOP</th>
				</tr>
			</thead>
			<tbody>
			
			
			

			{% for item in actuatorlist %}	
			<tr>

				<td>
					<label>{{ item }}</label>
					
					<!--  progress bar bootstrap-->
		
					<div class="progress" style="height:16px;">
					  <div id="{{ item }}progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;font-size:10px;">
					  </div>
					</div>

					<!-- progress-->
					
					
					
				</td>


				  <td>
		  					  				
				  <select class="form-control input-sm" id="selseconds_{{ item }}">
					<option>1</option>
					<option>3</option>
					<option>10</option>
					<option>50</option>
					<option>100</option>
					<option>300</option>
					<option>600</option>
					<option>6000</option>
				  </select>
				  </td>	
				  		
							
				<td>
					<button class="thebutton btn-sm btn btn-success" type="button" name="pulse" element="{{item}}">Start</button>
				</td>
				<td>

					<button class="thebutton btn-sm btn btn-warning" type="button" name="stoppulse" element="{{item}}">Stop</button>

				</td>


			</tr>
			{% endfor %}				

        </tbody>
    </table>
			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-8">
					<label class="form-label-left" id="actuatorstatus" for="input_3">Status</label>
				</div>
			</div>	

			</div>
			 <script type=text/javascript>
			  $(function() {
				var pGress={};	
				var pCnt = {};
				var sec = {};				  
				$(".thebutton").click(function() {
				
				// send ajax interrupt to flask to initiate the actuator test
				
					var prid=$(this).attr('name');
					var elem=$(this).attr('element');
					var value = $("#selseconds_" + elem).val();	
			
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/doit/?name=" + prid + "&name=" + value + "&element=" + elem,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#actuatorstatus').text(data.answer);
									$('#' + elem + "progress").removeClass("progress-bar-warning").addClass("progress-bar-default")
									var answer=data.answer;
									if (answer.includes("Started")) {
									// Answer from server succesfull started pulse
									// increment status bar bootstrap
									clearInterval(pGress[elem]);
									$('#' + elem + "progress" ).css('width', '0%').attr('aria-valuenow', 0);
									$('#' + elem + "progress").text('0')
									pCnt[elem] = 0;
									sec[elem] = 0;
								
									pGress[elem] = setInterval(function() {
											//var pVal = parseInt($('#' + elem + "progress").attr('aria-valuenow'));
											sec[elem]=sec[elem]+1;
											var maxsec = parseInt( $("#selseconds_" + elem).val());
											pCnt[elem] = (pCnt[elem] + 100.0/maxsec);
											if (pCnt[elem] > 100) {
												clearInterval(pGress[elem]);
												$('#actuatorstatus').text("Done");							
											} else {
												$('#' + elem + "progress").css('width', pCnt[elem]+'%').attr('aria-valuenow', pCnt[elem]);
												$('#' + elem + "progress").text(sec[elem] + 's')
											}
										},1000);									
									} else {
									if (!answer.includes("Already ON")) {
									clearInterval(pGress[elem]);
									if (!answer.includes("Stopped")) {
									$('#' + elem + "progress" ).css('width', '0%').attr('aria-valuenow', 0);
									$('#' + elem + "progress").text('0')
									} 					
									} 
									}	

									
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown); $("#thebutton").attr('name')
								//}
							});    
				  
							if (prid=="pulse") {		
							$('#actuatorstatus').text("waiting ...");
							$('#' + elem + "progress").addClass("progress-bar-warning")
							$('#' + elem + "progress").css('width','100%').attr('aria-valuenow', 100);					
							$('#' + elem + "progress").text('wait')
							}
					
				});
			  });
			   
			  
			  
			</script>
			
			
		</form>
  
		<!-- END -->



			
<!-- Sensors inputs calibration -->
 		{% if sensorlist|length > 0 %}		 

			<div class="page-header">
					  <h3>Sensor input Calibration</h3>   
			</div>

			
		<!-- Button for input calibration -->
		
			<div class="row">

				<div class="col-xs-12">
				
					
					<a href="{{ url_for('setinputcalibration') }}">
					<button id="setinputcalibrationbtn" name="buttonsub" value="setinputcalibration"  class="btn btn-success btn-sm btn-warp">
						Sensor Calibration
					<span class="glyphicon glyphicon-cog"></span>
					</button>
					</a>
				</div>
			</div>			
		
	
		{% endif %}

			
<!-- devices Addressed listing (Onewire, I2C etc) -->

			<div class="page-header">
					  <h3>Show Devices Addresses</h3>   
			</div>
		
			
		<!-- Button for device addresses show-->
		
			<div class="row">

				<div class="col-xs-12">
				
					
					<a href="{{ url_for('showdeviceaddresseslist') }}">
					<button id="showdeviceaddresseslistbtn" name="buttonsub" value="showdeviceaddresseslistbtn" class="btn btn-success btn-sm btn-warp">
						Show Addresses
					<span class="glyphicon glyphicon-cog"></span>
					</button>
					</a>
				</div>
			</div>			

	

<!-- HS12 setting              -->
	{% if HC12ok %}	
		<div class="page-header">
					<h3>Show Devices Addresses</h3>   
		</div>
	
				
		<!-- Button for HC12 setting-->
		
		<div class="row">

			<div class="col-xs-12">
		
				<a href="{{ url_for('HC12setting') }}">
				<button id="HC12settingbtn" name="buttonsub" value="HC12settingbtn" class="btn btn-success btn-sm btn-warp">
					HC-12 Wireless Setting
				<span class="glyphicon glyphicon-cog"></span>
				</button>
				</a>


			</div>
		</div>			
	{% endif %}


<!-- HASSIO setting              -->

<div class="page-header">
			<h3>Show Devices Addresses</h3>   
</div>

		
<!-- Button for HOme Assistant setting-->

<div class="row">

	<div class="col-xs-12">

		<a href="{{ url_for('HASSIOsetting') }}">
		<button id="HASSIOsettingbtn" name="buttonsub" value="HASSIOsettingbtn" class="btn btn-success btn-sm btn-warp">
			Home Assistant Integration
		<span class="glyphicon glyphicon-cog"></span>
		</button>
		</a>


	</div>
</div>			



<!-- MQTT devices Addressed listing (MQTT topic, IP, status) -->
 		{% if MQTTclientexist %}		 
			<div class="page-header">
					  <h3>Show MQTT Devices </h3>   
			</div>
		
		<!-- Button for device addresses show-->
		
			<div class="row">

				<div class="col-xs-12">
				
					
					<a href="{{ url_for('showmqttdevicelist') }}">
					<button id="showmqttdevicelistbtn" name="buttonsub" value="showmqttdevicelistbtn" type="submit" class="btn btn-success btn-sm btn-warp">
						Show MQTT clients
					<span class="glyphicon glyphicon-cog"></span>
					</button>
					</a>
				</div>
			</div>			

		{% endif %}



			
<!-- Hbridge Actuators test -->
  
		<form novalidate="true" action="{{ url_for('sethbridge') }}" id="sethbridge" method="post" >
			<div class="page-header">
					  <h3>Hbridge Actuators Test</h3>   
			</div>
			
			<div class="well bs-component smallgap">
				
						
		{% if hbridgelist|length > 0 %}		
		
			<div class="small"><b>NOTE:</b>When manually actuating the Hbridge in this page, the Offset will not be calculated. 
			This is done in order to avoid inconsistent positioning of the motor. </div>
			<div class="small"><b>OFFSET:</b>The offset value is the number of ADDITIONAL seconds the relay will be activated when the motor is set to reach the MIN value. This is used to be sure that the motor reaches the start switch. Offset value can be set in the HardwareSetting page</div>
			<p></p>
			<p></p>		
			
						
			<table class="table" margin: 20px;>
			<thead>
				<tr>
					<th align="left">Name</th>
					<th align="center">Sec</th>
					<th align="center"><span class="glyphicon glyphicon-arrow-left"></span></th>
					<th align="center"><span class="glyphicon glyphicon-arrow-right"></span></th>
					<th align="center">Pos</th>
					<th align="center">STOP</th>
				</tr>
			</thead>
			<tbody>
			
			
			

			{% for item in hbridgelist %}	
			<tr>

				<td>
					<label>{{ item }}</label>
				</td>


				  <td>
		  					  				
				  <select class="form-control input-sm" id="selsteps_{{ item }}">
					<option>1</option>
					<option>3</option>
					<option>10</option>
					<option>40</option>
					<option>70</option>
					<option>100</option>
				  </select>
				  </td>	
				  		
				<td>
					<button class="hbridgebutton btn-sm btn btn-default btn-block" type="button" name="hbridge" element="{{item}}" direction="BACKWARD">
					<span class="glyphicon glyphicon-minus-sign"></span>
					</button>


				</td>							
				<td>
					<button class="hbridgebutton btn-sm btn btn-default btn-block" type="button" name="hbridge" element="{{item}}" direction="FORWARD">
					</span><span class="glyphicon glyphicon-plus-sign"></span>
					</button>
				</td>

				<td>
						<label class="form-label-left" id="{{ item }}_hbridgestatus" >{{hbridgestatuslist[loop.index0]}}</label>
				</td>

				<td>
					<button class="hbridgebutton btn-sm btn btn-warning btn-block" type="button" name="hbridgestop" element="{{item}}" direction="STOP">
					</span>Stop</span>
					</button>
				</td>

			</tr>
			{% endfor %}				

        </tbody>
    </table>
	
			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-8">
					<label class="form-label-left" id="hbridgestatus" for="input_3"></label>
				</div>
			</div>	
			
			
			
		<!-- Button for Hbridge reset page -->
		
			<div class="row">

				<div class="col-xs-12">
				
					<!-- advanced setting Hbridge button -->
			
					<button id="sethbridgebtn" name="buttonsub" value="sethbridge" type="submit" class="btn btn-success btn-sm btn-warp">
						Hbridge Position Reset
					<span class="glyphicon glyphicon-cog"></span>
					</button>
		
				</div>
				</div>			
		
		{% else %}
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<legend>No hbridge motor set</legend>  
					</div>	
				</div>

		{% endif %}
		
		

		</div> 
		<!-- end wells -->
		
			 <script type=text/javascript>
			  $(function() {
				$(".hbridgebutton").click(function() {
				
				// send ajax interrupt to flask to initiate the actuator test
				
					var prid=$(this).attr('name');
					var elem=$(this).attr('element');
					var direction=$(this).attr('direction');
					var value = $("#selsteps_" + elem).val();					
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/doit/?name=" + prid + "&name=" + value + "&name=" + direction + "&element=" + elem,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#hbridgestatus').text(data.answer);
									$('#' + elem +'_hbridgestatus').text(data.answer);
		
									
									
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown); $("#thebutton").attr('name')
								//}
							});    
				  
					
							$('#hbridgestatus').text("waiting ...");

					
				});
			  });
			   
			  
			  
			</script>
			


		


		</form>  		
			
			
		<!-- Stepper Actuators test -->
  
		<form novalidate="true" action="{{ url_for('setstepper') }}" id="setstepper" method="post" >
			<div class="page-header">
					  <h3>Stepper Actuators Test</h3>   
			</div>
			
			<div class="well bs-component smallgap">
			
						<!--  Actuator table   -->
						
						
		{% if stepperlist|length > 0 %}			
						
			<table class="table" margin: 20px;>
			<thead>
				<tr>
					
					<th align="left">Name</th>
					<th align="center">Steps</th>
					<th align="center"><span class="glyphicon glyphicon-arrow-left"></span></th>
					<th align="center"><span class="glyphicon glyphicon-arrow-right"></span></th>
					<th align="center">Pos</th>
					
					
				</tr>
			</thead>
			<tbody>
			
			
			

			{% for item in stepperlist %}	
			<tr>

				<td>
					<label>{{ item }}</label>
				</td>


				  <td>
		  					  				
				  <select class="form-control input-sm" id="selsteps_{{ item }}">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>20</option>
					<option>40</option>
					<option>60</option>
					<option>100</option>
					<option>200</option>
					<option>300</option>
					<option>700</option>
					<option>1500</option>
				  </select>
				  </td>	
				  		
				<td>
					<button class="stepperbutton btn-sm btn btn-default btn-block" type="button" name="stepper" element="{{item}}" direction="BACKWARD">
					<span class="glyphicon glyphicon-minus-sign"></span>
					</button>


				</td>							
				<td>
					<button class="stepperbutton btn-sm btn btn-default btn-block" type="button" name="stepper" element="{{item}}" direction="FORWARD">
					<span class="glyphicon glyphicon-plus-sign"></span>	
					</button>
				</td>



				<td>
						<label class="form-label-left" id="{{ item }}_stepperstatus" >{{stepperstatuslist[loop.index0]}}</label>
				</td>

			</tr>
			{% endfor %}				

        </tbody>
    </table>
	
			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-8">
					<label class="form-label-left" id="stepperstatus" for="input_3"></label>
				</div>
			</div>	
			
			
			
		<!-- Button for stepper reset page -->
		
			<div class="row">

				<div class="col-xs-12">
				
					<!-- advanced setting stepper button -->
			
					<button id="setsteppebtn" name="buttonsub" value="setstepper" type="submit" class="btn btn-success btn-sm btn-warp">
						Stepper Position Reset
					<span class="glyphicon glyphicon-cog"></span>
					</button>
		
				</div>
				</div>			
		
		{% else %}
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<legend>No Stepper motor set</legend>  
					</div>	
				</div>

		{% endif %}
		
		

		</div> 
		<!-- end wells -->
		
			 <script type=text/javascript>
			  $(function() {
				$(".stepperbutton").click(function() {
				
				// send ajax interrupt to flask to initiate the actuator test
				
					var prid=$(this).attr('name');
					var elem=$(this).attr('element');
					var direction=$(this).attr('direction');
					var value = $("#selsteps_" + elem).val();					
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/doit/?name=" + prid + "&name=" + value + "&name=" + direction + "&element=" + elem,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#stepperstatus').text(data.answer);
									$('#' + elem +'_stepperstatus').text(data.answer);
		
									
									
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown); $("#thebutton").attr('name')
								//}
							});    
				  
					
							$('#stepperstatus').text("waiting ...");

					
				});
			  });
			   
			  
			  
			</script>
			


		


		</form>  			
		
		
		<!-- Servo Actuators test -->
  
  		<form novalidate="true" action="{{ url_for('show_Calibration') }}" id="menuForm" class="jotform-form" method="post" >
			<div class="page-header">
					  <h3>Servo Actuators Test</h3>   
			</div>
			
			<div class="well bs-component dontwantgap">
			
			{% if servolist|length > 0 %}	
						<!--  Actuator table   -->
			<table class="table" margin: 20px;>
			<thead>
				<tr>
					<th>Name</th>
					<th>Step</th>
					<th><span class="glyphicon glyphicon-arrow-left"></th>
					<th><span class="glyphicon glyphicon-arrow-right"></th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			
			
			

			{% for item in servolist %}	
			{% if (item != "none") %}
			<tr>

				<td>
					<label>{{ item }}</label>
				</td>


				  <td>
		  					  				
				  <select class="form-control input-sm" id="selsteps_{{ item }}">
					<option>5</option>
					<option>10</option>
					<option>15</option>
					<option>20</option>

				  </select>
				  </td>	
				  		
							
				<td>
					<button class="servobutton btn-sm btn btn-default btn-block" type="button" name="servo2" element="{{item}}" direction="FORWARD"><span class="glyphicon glyphicon-arrow-left"></button>
				</td>

				<td>
					<button class="servobutton btn-sm btn btn-default btn-block" type="button" name="servo2" element="{{item}}" direction="BACKWARD"><span class="glyphicon glyphicon-arrow-right"></button>


				</td>

				<td>
						<label class="form-label-left" id="{{ item }}_servostatus" >{{servostatuslist[loop.index0]}}</label>
				</td>

			</tr>
			{% endif %}
			{% endfor %}				

        </tbody>
    </table>
	
			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-8">
					<label class="form-label-left" id="servostatus" for="input_3"></label>
				</div>
			</div>	

		{% else %}
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<legend>No Servo motor set</legend>  
					</div>	
				</div>

		{% endif %}

		</div>
			 <script type=text/javascript>
			  $(function() {
				$(".servobutton").click(function() {
				
				// send ajax interrupt to flask to initiate the actuator test
				
					var prid=$(this).attr('name');
					var elem=$(this).attr('element');
					var direction=$(this).attr('direction');
					var value = $("#selsteps_" + elem).val();					
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/doit/?name=" + prid + "&name=" + value + "&name=" + direction + "&element=" + elem,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#servostatus').text(data.answer);
									$('#' + elem +'_servostatus').text(data.answer);
		
									
									
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown); $("#thebutton").attr('name')
								//}
							});    
				  
					
							$('#servostatus').text("waiting ...");

					
				});
			  });
			   
			  
			  
			</script>
			
			
		</form>			

  
		<!-- Photocam test -->
		
		<form novalidate="true" action="{{ url_for('show_Calibration') }}" id="abcd" method="post" >


			<div class="page-header">
					  <h3>WebCam Setting</h3>   
			</div>

			
			<div class="well bs-component well-sm ">
			
			{% if camerasettinglist|length > 0 %}

			<div class="form-group">	

			
			<!--  list of cameras  -->

			


			
			
			

			{% for dict_item in camerasettinglist %}	
				{% set item = dict_item['camname'] %}
				{% set resolution = dict_item['resolution'] %}
				{% set position = dict_item['position'] %}
				{% set servo = dict_item['servo'] %}
				{% set active = dict_item['active'] %}
				{% set vflip = dict_item['vflip'] %}
				
			<!--  title of camera  -->

			<div class="form-group">			
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<legend>Camera: {{item}}</legend>  
				</div>	
			</div>	
			</div>	
				
				
				
			<table class="table" margin: 10px;>

			<tbody>				
				
				<!-- 
					<th>Device</th>
					<th>Resol</th>
					<th>Position%</th>
					<th>Servo</th>
					<th>Active</th>
					<th>CTRL</th>			
			    -->
			<tr>

				<td>
					<label>Resol</label>
				</td>


				  <td>
		  					  				
				  <select class="form-control input-sm dontwantgap" id="selsettingres_{{ item }}">
					<option {% if resolution=="320x240" %} selected="selected"{% endif %}>320x240</option>
					<option {% if resolution=="640x480" %} selected="selected"{% endif %}>640x480</option>
					<option {% if resolution=="1024x768" %} selected="selected"{% endif %}>1024x768</option>
					<option {% if resolution=="1920x1080" %} selected="selected"{% endif %}>1920x1080</option>
					<option {% if resolution=="1920x1440" %} selected="selected"{% endif %}>1920x1440</option>
					<option {% if resolution=="2592x1944" %} selected="selected"{% endif %}>2592x1944</option>
					<option {% if resolution=="3280x2464" %} selected="selected"{% endif %}>3280x2464</option>					
				  </select>
				  
				  </td>	
			</tr>
			<tr>				
				<td>
					<label>Position%</label>
				</td>
				<td>		
				  
				  <input value="{{position}}" class="form-control input-sm dontwantgap" id="selsettingpos_{{ item }}" name="position" type="text">
					<div class="small">Multiple positions separated by comma (,) Values from 0 to 100</div>
				 </td>	 	

			</tr>
			<tr>
				<td>
					<label>Servo</label>
				</td>

				<td>		
				  <select class="form-control input-sm dontwantgap" id="selsettingservo_{{ item }}">
					{% for servoitem in servolist %}
					<option {% if servoitem==servo %} selected="selected"{% endif %}>{{servoitem}}</option>
					{% endfor %}
				  </select>
				 </td>	 
			</tr>
			<tr>

				<td>
					<label>Activate Daily Photo</label>
				</td>
				<td>

					{% if active=="True" %}
					<input id="toggle-event_{{ item }}" checked="checked" type="checkbox">
					<input value="True" id="selsettingactive_{{ item }}" type="hidden">					
					{% else %}						
					<input id="toggle-event_{{ item }}" type="checkbox">
					<input value="False" id="selsettingactive_{{ item }}" type="hidden">	
					{% endif %}


					<script>
					  $(function() {
						$('#toggle-event_{{ item }}').change(function() {
							var togglevalue=$(this).prop('checked');
				
							if (togglevalue==true) {
								$("#selsettingactive_{{ item }}").val("True");										
							} else {
								$("#selsettingactive_{{ item }}").val("False");	
							}
						})
					  })
					</script>
							

				</td>
			</tr>
			
			<tr>

				<td>
					<label>vFlip</label>
				</td>
				<td>

				  <select class="form-control input-sm dontwantgap" id="selsettingvflip_{{ item }}">
					<option {% if vflip=="pos" %} selected="selected"{% endif %}>pos</option>
					<option {% if vflip=="neg" %} selected="selected"{% endif %}>neg</option>			
				  </select>
							

				</td>
			</tr>
			
			
			
			
			<tr>
				<td>
					<label>Test</label>
				</td>
				<td>
					<!-- Test button-->										
					<button class="startphoto btn-sm btn btn-default" type="button" name="photo" video="{{item}}">Test</button>

				</td>

			</tr>

			
			

					


				</tbody>
			</table>
	{% endfor %}		
	<!--  end table 1 -->	

	<div class="form-group">			
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<legend>Common:</legend>  
		</div>	
	</div>	
	</div>	


	<table class="table" margin: 10px;>
		<tbody>

		<tr>
			<td>
	
			


				<!-- old 


					<select class="form-control seltimeclass"  id="SelTime1" name="name" valueinit="{{photosetting[0]}}">
					</select>		
				-->
				<!-- new -->

						<div class="input-group clockpicker" data-autoclose="true">
							<input readonly="readonly" type="text" class="form-control" id="SelTime1" value="{{photosetting[0]}}">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
							<script type="text/javascript">
							$('.clockpicker').clockpicker({ placement: 'top'});
							</script>								
						</div>

				<!-- new -->
			</td>
			<td>				

					<button id="savesettingphoto" class="btn-sm btn btn-default" type="button" name="photo">Save All Config</button>

	

		
			</td>
		</tr>

						
		<tr>
			<td>
						<label>Adapt to the screen
						<input id="toggle-event" checked="checked" type="checkbox">
						</label>
						<script>
						  $(function() {
							$('#toggle-event').change(function() {
								var togglevalue=$(this).prop('checked');
					
								if (togglevalue==true) {
									$("#imgtest").addClass("img-responsive");										
								} else {
									$("#imgtest").removeClass("img-responsive");	
								}
							})
						  })
						</script>
						

			</td>
			
			
			
			
			
			
			
		</tr>
		<tr>
			<td>
				   
				   <!--  progress bar bootstrap-->
		
					<div class="progress">
					  <div id="photoprogressbar1" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
					  </div>
					</div>

				<!-- progress-->
			
			</td>			
			<td>
				   <!-- status-->

					<label>Status:</label>

					<label id="phototeststatus" for="input_3">Status</label>
			
			</td>


		</tr>
		</tbody>
	</table>
	<!--  end table -->	
						

				<div style="width: 100%; overflow: auto;">		
				<img id="imgtest" class="img-responsive" src="{{ url_for('static', filename='cameratest/testimage1.jpg')}}" />
				</div>

			</div>					
	<!--  end form group  -->
	{% else %}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<legend>No Camera detected</legend>  
				</div>	
			</div>

	{% endif %}
	
	

	</div> 
	<!-- end wells -->




			<script type=text/javascript>
			  $(function() {
				$(".startphoto").click(function() {
				
				// send ajax interrupt to flask to initiate the actuator test
				$('#phototeststatus').text("Started ...");

					var prid=$(this).attr('name');
					var elem = $(this).attr('video');
					$.ajax({
								type: "GET",
								// url: $SCRIPT_ROOT + "/doit/?name=" + prid + "&" + "name=" + value ,
								url: $SCRIPT_ROOT + "/doit/?name=" + prid  + "&name=" + elem + "&resolution=" + $('#selsettingres_' + elem).val() + "&position=" + $('#selsettingpos_' + elem).val() + "&servo=" + $('#selsettingservo_' + elem).val() + "&time=" + $('#SelTime1').val() + "&vflip=" + $('#selsettingvflip_' + elem).val(),
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#phototeststatus').text(data.answer);
									if (data.answer=="photo taken"){
										   setTimeout(function(){
													d = new Date();
													var fileurl="{{ url_for('static', filename="cameratest/testimage.jpg")}}"+"?"+d.getTime();
													$('#imgtest').attr("src", fileurl);
											}, 200);
									}

								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    
				
				


				// increment status bar bootstrap
				$( "#photoprogressbar1").css('width', '0%').attr('aria-valuenow', 0);
				var pGress = setInterval(function() {
						var pVal = parseInt($("#photoprogressbar1").attr('aria-valuenow'));
						var pCnt = !isNaN(pVal) ? (pVal + 1) : 1;
						if (pCnt > 100) {
							clearInterval(pGress);
							
						} else {
								$('#photoprogressbar1').css('width', pCnt+'%').attr('aria-valuenow', pCnt);
								if ($('#phototeststatus').text()=="photo taken"){
										$( "#photoprogressbar1").css('width', '99%').attr('aria-valuenow', 99);

								}
							
						}
					},100);

					
				});
				
				$("#savesettingphoto").click(function() {
				// send ajax interrupt to flask to save parameters
				$('#phototeststatus').text("Saving");
					var prid=$(this).attr('name');
					var Array = {{ videolist|tojson }};
					var arrayLength = Array.length;
					for (var i = 0; i < arrayLength; i++) {
						var elem=Array[i];
						//alert(elem);
					
					
					
						$.ajax({
									type: "GET",
									url: $SCRIPT_ROOT + "/saveit/?name=" + prid  + "&element=" + elem + "&resolution=" + $('#selsettingres_' + elem).val() + "&position=" + $('#selsettingpos_' + elem).val() + "&servo=" + $('#selsettingservo_' + elem).val() + "&time=" + $('#SelTime1').val() + "&active=" + $('#selsettingactive_' + elem).val() + "&vflip=" + $('#selsettingvflip_' + elem).val(),
									contentType: "application/json; charset=utf-8",
									data: { echoValue: "requestfordata" },
									success: function(data) {
										$('#phototeststatus').text(data.answer);
										if (data.answer=="saved"){
											$('#phototeststatus').text("Saved");
										}
									},
									//error: function(jqXHR, textStatus, errorThrown) {
									//    alert(errorThrown);
									//}
								});    	
						}
		
				});
			  });
			  
			  
			  


			</script>

		</form>
  
		<!-- mail test and setting -->
		
		<form novalidate="true" action="{{ url_for('show_Calibration') }}" id="mailset" method="post" >

			<div class="page-header">
				<h3>Mail Setting</h3>   
			</div>

			{% for mailsetting in mailsettinglist %}
			
			
			<div class="well bs-component ">
				
			<div class="form-group">			
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<legend>eMail item: {{mailsetting[0]}}</legend>  
				</div>	
			</div>	
			</div>	
				
				
			<div class="form-group">					
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label id="label_30" for="input_3">Daily mail time:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<select class="form-control seltimeclass"  id="SelTime_{{mailsetting[0]}}" name="name" valueinit="{{mailsetting[1]}}">
					</select>		
				</div>
			</div>	
			</div>	
			
			<div class="form-group">		
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<label>Email address to send report:
				</label>

				
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<input value="{{mailsetting[2]}}" class="form-control" id="address_{{mailsetting[0]}}" name="address" type="text">
				<div class="small">Multiple addresses separated by ;</div>

				</div>
			</div>				
			</div>	
						
			<div class="form-group">			
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label>Mail title:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<input value="{{mailsetting[3]}}" class="form-control" id="title_{{mailsetting[0]}}" name="title" type="text">

				</div>
			</div>	
			</div>	
						
			<div class="form-group">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label>Mail type:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<input value="{{mailsetting[4]}}" class="form-control" disabled>
				</div>
			</div>	
			</div>	
			
			{% if (mailsetting[4]=="mail+info+link") %}
			<div class="form-group">			
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label>Custom URL:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<input value="{{mailsetting[5]}}" class="form-control" id="url_{{mailsetting[0]}}" name="url" type="text">

				</div>
			</div>	
			</div>				
			{% endif %}
			
			<!-- Mail testing buttons -->
			<div class="row">
				<div class="col-xs-4">
					<button id="test_{{mailsetting[0]}}" class="testmailbutton btn-sm btn btn-default" type="button" name="mail" element="{{mailsetting[0]}}">Send Test Mail</button>
								
				</div>
				
				<div class="col-xs-4">
					<button id="save_{{mailsetting[0]}}" class="savemailbutton btn-sm btn btn-default"  type="button" name="mail" element="{{mailsetting[0]}}">Save Config</button>

				</div>
			</div>	
			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-8">
					<label id="mailteststatus" class="mailteststatus" for="input_3">Status</label>
				</div>
			</div>				
			
			</div>
			{% endfor %}





			

			<script type=text/javascript>
			  $(function() {
				$(".testmailbutton").click(function() {
				//alert("test button pressed");
				// send ajax interrupt to flask to initiate the actuator test
				$('.mailteststatus').text("Started ...");
				var prid=$(this).attr('name');
				var elem=$(this).attr('element');
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/doit/?name=" + prid  + "&element=" + elem + "&address=" + $('#address_' + elem).val() + "&title=" + $('#title_' + elem).val(),
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('.mailteststatus').text(data.answer);
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    			
				});
				
				$(".savemailbutton").click(function() {
				// send ajax interrupt to flask to save parameters
				$('.mailteststatus').text("Saving");
				var prid=$(this).attr('name');
				var elem=$(this).attr('element');
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/saveit/?name=" + prid  + "&element=" + elem + "&address=" + $('#address_' + elem).val() + "&title=" + $('#title_' + elem).val()+ "&time=" + $('#SelTime_' + elem).val()+ "&url=" + $('#url_' + elem).val(),
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('.mailteststatus').text(data.answer);
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    			
				});
			  });
			</script>

		</form> 
  
		
		<form novalidate="true" action="{{ url_for('systemmailsetting') }}" id="sysmail" method="post" >
			<!--<div class="page-header">
					  <h3>Sensor Measure</h3>   
			</div> -->
			<div class="row">
				<div class="col-xs-4">
				
					<!-- advanced mail setting button -->
			
					<button id="advconfigbtn" name="button" value="show" type="submit" class="thebutton btn btn-danger btn-sm btn-warp">
						Email Setting
					<span class="glyphicon glyphicon-cog"></span>
					</button>
		
				</div>
			</div>
		</form>  
		
		
		
		
		<!-- Clock test and setting -->
		
		<form novalidate="true" action="{{ url_for('show_Calibration') }}" id="mailset" method="post" >

			<div class="page-header">
				<h3>Clock Setting</h3>   
			</div>


			
			<div class="well bs-component ">
			
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<legend>Clock and local timezone</legend>  
					</div>	
				</div>	
				
				
			<div class="form-group">			

				<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label>Select Country:</label>
				</div>
		
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<select class="selectpicker settimezone" data-live-search="true">
					{% for country in countries %}


					  <optgroup label={{country.name}}>
									{% for zone in country["timezones"] %}
										<option data-tokens="{{country.name}}" {% if (zone==timezone) %}selected="selected"{% endif %} >{{zone}}</option>
									{% endfor %}
					  </optgroup>

					{% endfor %}

					</select>


					<button id="settimezone" class="timezonebutton btn btn-default"  type="button" name="timezone" element="settimezone">SaveTimeZone</button>
				</div>
				</div>			
			</div>				
			
				
	
				
				


						
			<div class="form-group">			

				<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label>Read System Time:</label>
				</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<button id="readsystemdate" class="clockbutton btn btn-default" type="button" name="clock" element="system">Readsystemclock</button>
		

						<label id="clockvalue_system" for="input_3"></label>
					</div>
				</div>	
			</div>	

			<div class="form-group">	

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label>Read Network Time:</label>
				</div>

			
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<button id="readnetworkclock" class="clockbutton btn btn-default"  type="button" name="clock" element="network">Readnetworkclock</button>

					<label id="clockvalue_network" for="input_3"></label>
				</div>
			</div>	

			</div>				

			<div class="form-group">	
			
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<label>Set system time:</label>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<div class="form-group">
								<div class='input-group date datetimepicker'>
									<input readonly="readonly" name="setclock" type='text' class="setclock form-control" value="{{initdatetime}}" >
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						
							<button id="setHWClock" class="clockbutton btn btn-default"  type="button" name="clock" element="setHWClock">SetClock</button>
							<div class="small">Set the clock will work only when NOT connected to internet, if connected the NTP protocol will update the time</div>
							<div class="small"></div>
					
					
					</div>					
					<script type="text/javascript">
						$(function () {
							$('.datetimepicker').datetimepicker({
								locale: 'en-gb',
								//useCurrent:false
								ignoreReadonly: true,
							});
						});
					</script>
				</div>
			</div>				
			

			

			
			




			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-8">
					<label id="clockteststatus" for="input_3">Status</label>
				</div>
			</div>	
			
			<div class="small">NOTE: Raspberry PI hardware does not include an hardware clock with battery. If the system is not connected to internet
			the clock will require to be set every time the system is powered on unless an external hardware clock is used. If system is connected to the internet the NTP protocol will keep the 
			raspberry time updated.</div>
			<div class="small"></div>
			
			
			</div> <!-- end well -->
			<script type=text/javascript> <!-- timezone -->
			  $(function() {
				$(".timezonebutton").click(function() {
				//alert("test button pressed");
				// send ajax interrupt to flask to initiate the actuator test
				$('#clockteststatus').text("Started ...");
				var prid=$(this).attr('name');
				var elem=$(this).attr('element');
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/doit/?name=" + prid  + "&element=" + elem + "&timezone=" + $('.settimezone option:selected').text(),
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#clockteststatus').text(data.answer);		
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    			
				});
				

			  });
			</script>
			

			<script type=text/javascript>
			  $(function() {
				$(".clockbutton").click(function() {
				//alert("test button pressed");
				// send ajax interrupt to flask to initiate the actuator test
				$('#clockteststatus').text("Started ...");
				var prid=$(this).attr('name');
				var elem=$(this).attr('element');
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/doit/?name=" + prid  + "&element=" + elem + "&datetime=" + $('.setclock').val(),
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#clockteststatus').text(data.answer);
									$('#clockvalue_' + elem).text(data.value);
									$('.setclock').val(data.value);									
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    			
				});
				

			  });
			</script>

		</form> 
		
		<!-- End Clock test and setting -->		
		
		
		<!-- Change Hardware component naming -->
  		<form  action="{{ url_for('show_Calibration') }}" id="menuForm32" class="jotform-form" method="post" >

			<div class="page-header">
					  <h3>Change the Hardware component naming for easier reference</h3>   
			</div>

			<div class="row">
				<div class="col-xs-4">
					<label for="input_3">Change Hardware naming</label>
				</div>
				<div class="col-xs-8">
					<button id="naming" class="btn-sm btn btn-default" name="buttonsub" value="editnames" type="submit">Edit Names</button>

					
				</div>
			</div>	


				 
				<!-- Modal HTML -->
				<div id="myModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Confirmation</h4>
							</div>
							<div class="modal-body">
								<p>Are you sure to restore the default setting?</p>
								<p class="text-warning"><small>All the current setting will be lost, wifi connection will be removed</small></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button id="deletbtn" name="buttonsub" value="delete" type="submit" class="btn btn-primary">Restore Default</button>
							</div>
						</div>
					</div>
				</div>



		</form>
		
		
		
		
  
		<!-- Configuration management -->
		 <form  action="{{ url_for('show_Calibration') }}" id="menuFormupload" enctype="multipart/form-data" method="post" >

			<div class="page-header">
					  <h3>System Configuration Upload</h3>   
			</div>

	<!-- New filestyle plugin -->
	<script type=text/javascript src="{{url_for('static', filename='filestyle123/bootstrap-filestyle.min.js') }}"></script>

			<div class="row">
				<div class="col-xs-4">
					<label for="input_3">Upload Configuration</label>
				</div>
				<div class="col-xs-8">
					<input class="filestyle" type="file" name="file">  
					<!-- <input class="btn-sm btn btn-default" type = "submit" value="uploadfile" name="buttonsub">  -->
				<!-- Button HTML (to Trigger Modal) -->
					<a href="#myModal2" role="button" class="btn-sm btn btn-default" data-toggle="modal">Upload and Apply</a>					
				
					
				</div>
			</div>	
			
			
				 
				<!-- Modal HTML -->
				<div id="myModal2" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Confirmation</h4>
							</div>
							<div class="modal-body">
								<p>Are you sure to replace the current setting?</p>
								<p class="text-warning"><small>All the current setting will be lost</small></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button id="uploadbtn" name="buttonsub" value="uploadfile" type="submit" class="btn btn-primary">Apply uploaded Config</button>
							</div>
						</div>
					</div>
				</div>


			

			
		</form>

		
		
		
		
		
		
		
		
		
		
		
		
		
		
  		<form  action="{{ url_for('show_Calibration') }}" id="menuForm3" class="jotform-form" method="post" >

			<div class="page-header">
					  <h3>System Configuration Download</h3>   
			</div>



			<div class="row">
				<div class="col-xs-4">
					<label for="input_3">Download Configuration</label>
				</div>
				<div class="col-xs-8">

				<!-- Button HTML -->
				
							<!--  file 1 -->
					<div class="row">
						<div class="col-xs-6">
							<button class="downloadbutton btn-sm btn btn-default"  type="button" name="configzip">DownloadConfigFiles</button>
						</div>
						<div class="col-xs-6">
							<a id="downloadlinkconfigzip0" href="" ></a>
						</div>
					</div>	
					
					
				</div>
			</div>	

			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-4">
					<label id="downloadstatus" for="input_3">Status</label>
				</div>
			</div>	



			<script type=text/javascript>
			  $(function() {
				$(".downloadbutton").click(function() {
				
				// send ajax interrupt to flask 
				$('#downloadstatus').text("Status");

					var prid=$(this).attr('name');
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/downloadit/?name=" + prid,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#downloadstatus').text(data.answer);
									if (data.answer=="ready"){
										   setTimeout(function(){
													d = new Date();
													var filename=data.filename;
													//var fileurl="{{ url_for('static', filename=filename)}}"+"?"+d.getTime();
													
													fLen = filename.length;
													for (i = 0; i < fLen; i++) {
														var fileurl="{{ url_for('static', filename="")}}"+filename[i]+"?"+d.getTime();
														var filenameGUIlist=filename[i].split("/");
														var filenameGUI=filenameGUIlist[filenameGUIlist.length-1];
														$('#downloadlink'+prid+i.toString()).text(filenameGUI);
														$('#downloadlink'+prid+i.toString()).attr("href", fileurl);


													}
													
													
													
													
													

											}, 200);
									}

								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    
				
				// increment status bar should stay here


					
				});

			  });
			</script>


			<div class="page-header">
					  <h3>System Configuration Reset</h3>   
			</div>



			<div class="row">
				<div class="col-xs-4">
					<label for="input_3">Restore factory default</label>
				</div>
				<div class="col-xs-8">
					<!--<button id="deletbtn" class="btn-sm btn btn-default" name="buttonsub" value="delete" type="submit">Default</button>
					-->

				<!-- Button HTML (to Trigger Modal) -->
				<a href="#myModal" role="button" class="btn-sm btn btn-default" data-toggle="modal">Restore default</a>					
					
					
				</div>
			</div>	


				 
				<!-- Modal HTML -->
				<div id="myModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Confirmation</h4>
							</div>
							<div class="modal-body">
								<p>Are you sure to restore the default setting?</p>
								<p class="text-warning"><small>All the current setting will be lost, wifi connection will be removed</small></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button id="deletbtn" name="buttonsub" value="delete" type="submit" class="btn btn-primary">Restore Default</button>
							</div>
						</div>
					</div>
				</div>











		</form>


 
   </div> 
  {% else %}

		<h1>Please log in</h1>

  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
