{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
		<script type=text/javascript>
			$(function() {
					$( "button" ).button();
			});
			$(function() {
					$( "#progressbar" ).progressbar({value: 0});
			});

		</script>

		<form novalidate="true" action="{{ url_for('show_Calibration') }}" id="PHform" class="jotform-form" method="post" >
			<div class="form-all">
				<ul class="form-section">
						<li id="cid_10" class="form-input-wide">
						<div class="form-header-group">
							<h2 id="header_10" class="form-header">WebCam Setting</h2>
						</div>
						</li>

						
						<li class="form-line" id="id_30">
							<div id="cid_20" class="form-input">

								<button id="Btnstarttest" type="button" name="BtnPHref1" style="width: 150px">Start Video</button>

							</div>



						</li>
							
						<li class="form-line" id="id_30">
						<img id="imgtest" src="http://127.0.0.1:8090/?action=stream" height="240" width="320">
						<div style="width:320px;height:5px" id="progressbar"></div>
						</li>
						<li class="form-line" id="id_30">
							<label class="form-label-left" id="teststatus" for="input_3">Status</label>
						</li>
				
				</ul>
			<script type=text/javascript>
			  $(function() {
				$("#Btnstarttest").click(function() {
				

			  });
			</script>

			</div>
			

		</form>
			

  
  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
