{% extends "layout.html" %}
{% set active_page = "showcalibration" %}
{% block body %}
  {% if session.logged_in %}
  <div class="container-fluid">
	  
	  
		<!-- hbridge Actuators test -->
  
  		<form novalidate="true" action="{{ url_for('showdeviceaddresseslist') }}" id="menuForm" method="post" >
			<div class="page-header">
					  <h3>Device addresses</h3>   
			</div>


			
			<div class="well bs-component smallgap">

			

			<table class="table" margin: 20px;>
			<thead>
				<tr>
					<th>Address</th>
					<th>Type</th>
					<th>Name</th>
					<th>Info</th>
				</tr>
			</thead>
			<tbody>
			
			
			

			{% for item in deviceaddresseslist %}	
			{% set count = loop.index0 %}
			<tr>
				
				<td>
					<label>{{ item.address }}</label>
				</td>
			
				<td>
					<label>{{ item.type }}</label>
				</td>

				<td>
					<label>{{ item.name }}</label>
				</td>
				
				<td>
					<label>{{ item.message }}</label>
				</td>
				
				<td>
					{% if item.changeaddressflag=="1" %}
					<button class="setbutton btn-sm btn btn-success btn-block" type="button" name="setsensor" element="{{item.name}}">Change</button>
					{% else %}
					<button class="setbutton btn-sm btn btn-success btn-block" type="button" name="setsensor" element="{{item.name}}" disabled>Change</button>
					{% endif %}
				</td>


			</tr>
			{% endfor %}				

        </tbody>
    </table>
	



	<button class="btn btn-default" type="submit" name="buttonsub" value="cancel">Cancel</button>

		</div>

			
			
		</form>			
			

 
   </div> 
  {% else %}

		<h1>Please log in</h1>

  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
