{% extends "layout.html" %}
{% set active_page = "Video" %}
{% block body %}
  {% if session.logged_in %}


  <div class="container-fluid">


		<div class="row">
          <div class="col-xs-12">
            <div class="page-header">
				<div class="row">
					<div class="col-xs-8">
						<h4 id="header">Video Streaming</h4>
					</div>
				</div>
            </div>
          </div>
        </div>
         


<!--<img class="img-responsive" id="videoimg" src="/static/waiting.jpg" />-->


<!--<iframe frameborder="0" scrolling="yes" width="100%" height="100%"
   id="videoimg" src="/static/waiting.jpg">
</iframe>-->

<!-- Image and Video -->
	<div style="width: 100%; overflow: auto;">
	<img class="img-responsive" id="videoimg" src="/static/waiting.jpg" />    
	</div>



	<div class="hidden">
	<img class="img-responsive" src="/static/loading-animation.gif"/>    
	</div>



<!-- Setup button -->

		<!--  boo -->
  
 

			
<div class="well bs-component">
			
			
		<!--  Servo table   -->
			<table class="table" margin: 20px;>
				<thead>
					<tr>
						<th class="col-xs-5"></th>
						<th class="col-xs-2"></th>
						<th class="col-xs-3"></th>
						<th class="col-xs-2"></th>
					</tr>
				</thead>
			<tbody>
			
			
			

			<tr>

				<td>
				  <select class="form-control input-sm dontwantgap" id="selsettingservo">
					{% for servoitem in servolist %}
					<option>{{servoitem}}</option>
					{% endfor %}
				  </select>					
				</td>
				<td>

					<!-- go left button-->										
					<button class="moveservo btn-sm btn btn-default btn-block" type="button" name="servo" item="-5"><<<</button>
				</td>


				  <td>
		  					  				

					
					<input value="{{initposition}}"  id="servoteststatus" class="form-control input-sm" style="text-align:center;" readonly />

				  
				  </td>	
				  		
	
							
				<td>
					<!-- go right button-->										
					<button class="moveservo btn-sm btn btn-default btn-block" type="button" name="servo" item="+5">>>></button>

				</td>


	

			</tr>



        </tbody>
		</table>
			
			
			
			<script type=text/javascript>
			var position=Number({{initposition}});
				

			$(".moveservo").click(function() {
			
			// send ajax interrupt to flask to initiate the actuator test

				var prid=$(this).attr('name');
				var elem = $(this).attr('item');
				position=Number(position)+Number(elem);
				if (position<0) {position=0;}
				if (position>100) {position=100;}
				$('#servoteststatus').val("---");
				$.ajax({
							type: "GET",
							url: $SCRIPT_ROOT + "/doit/?name=" + prid + "&" + "name=" + position + "&servo=" + $('#selsettingservo').val(),
							//url: $SCRIPT_ROOT + "/doit/?name=" + prid  + "&name=" + elem + "&resolution=" + $('#selsettingres_' + elem).val() + "&position=" + $('#selsettingpos_' + elem).val() + "&servo=" + $('#selsettingservo_' + elem).val() + "&time=" + $('#SelTime1').val(),
							contentType: "application/json; charset=utf-8",
							data: { echoValue: "requestfordata" },
							success: function(data) {
								$('#servoteststatus').val(data.answer);

							},
							//error: function(jqXHR, textStatus, errorThrown) {
							//    alert(errorThrown);
							//}
						});    

				
			});


			  
			  
			  


			</script>

		<!--  end servo part   -->
			
		<!--  video camera table   -->
			<table class="table" margin: 20px;>
			<thead>
				<tr>
					<th>Device</th>
					<th>WidthxHeight</th>
					<th>FPS</th>
					<th>CTRL</th>
				</tr>
			</thead>
			<tbody>
			
			
			

			{% for item in videolist %}	
			<tr>

				<td>
					<label>{{ item }}</label>
				</td>


				  <td>
		  					  				
				  <select class="form-control input-sm dontwantgap" id="selsettingres_{{ item }}">
					<option>320x240</option>
					<option>640x480</option>
					<option>1024x768</option>
					<option>1280x720</option>
					<option>1920x1080</option>
					<option>1920x1440</option>
					<option>2592×1944</option>
				  </select>
				  </td>	
				  		
							
				<td>		
				  <select class="form-control input-sm dontwantgap" id="selsettingfps_{{ item }}">
					<option>5</option>
					<option>10</option>
					<option selected="selected">20</option>
					<option>25</option>
					<option>30</option>
					<option>60</option>

				  </select>
				 </td>	 	
							
				<td>
					<!-- start/stop button-->										
					<button id="button-{{item}}" class="thebutton btn-sm btn btn-primary" type="button" name="start" element="{{item}}">Start</button>
				</td>


	

			</tr>
			{% endfor %}				



        </tbody>
			</table>
	
	<table class="table" margin: 20px;>
		<tbody>
		<tr>
			<td>
					<label>Status:</label>
					<label class="form-label-left" id="actuatorstatus" for="input_3"></label>					
			</td>
		</tr>
		<tr>
			<td>
						<label>Adapt video to the screen
						<input id="toggle-event" checked="checked" type="checkbox">
						</label>
						<script>
						  $(function() {
							$('#toggle-event').change(function() {
								var togglevalue=$(this).prop('checked');
					
								if (togglevalue==true) {
									$("#videoimg").addClass("img-responsive");										
								} else {
									$("#videoimg").removeClass("img-responsive");	
								}
							})
						  })
						</script>
						

			</td>
		</tr>
		</tbody>
	</table>




			</div>
			 <script type=text/javascript>
			  $(function() {
				$(".thebutton").click(function() {
				
				// send ajax interrupt to flask to initiate the actuator test
					var butid=$(this).attr('id');				
					var prid=$(this).attr('name');
					var elem=$(this).attr('element');
					var res = $("#selsettingres_" + elem).val();					
					var fps = $("#selsettingfps_" + elem).val();
					if (prid != "stop") {
						$("#videoimg").attr("src", "/static/loading-animation.gif");					
						}
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/videocontrol/?name=" + prid + "&name=" + res + "&name=" + fps + "&element=" + elem,
								contentType: "application/json",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#actuatorstatus').text(data.answer);
									$('button[name=stop]').text('Start');
									$('button[name=stop]').removeClass('btn-danger');
									$('button[name=stop]').addClass('btn-primary');
									$('button[name=stop]').attr("name", "start"); // this should b the last of the commands series																	
									if (prid != "stop") {
										var d = new Date();
										var linksrc="/?action=stream";
										$("#videoimg").attr("src", linksrc+"?"+d.getTime());
										$('#'+butid).text('Stop');										
										$('#'+butid).attr("name", "stop");
										$('#'+butid).removeClass('btn-primary');
										$('#'+butid).addClass('btn-danger');
										}

										
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//	$('#actuatorstatus').text(errorThrown);
								//}
							});    
				  
					
				});
			  });
			   
			  
			  
			</script>
			




	<script type="text/javascript">
		window.onbeforeunload = check;
		function check()
		{
		var prid="close";
		var elem="video";
		var value ="none";	
		$.ajax({
					type: "GET",
					url: $SCRIPT_ROOT + "/videocontrol/?name=" + prid + "&name=" + value + "&element=" + elem,
					contentType: "application/json; charset=utf-8",
					data: { echoValue: "requestfordata" },
					//error: function(jqXHR, textStatus, errorThrown) {
					//    alert(errorThrown); $("#thebutton").attr('name')
					//}
				}); 


		}
	</script>







  </div>
        
        
  {% else %}

		<h1>Please log in</h1>
  
  {% endif %}

{% endblock %}





