{% extends "layout.html" %}
{% set active_page = "wateringplan" %}
{% block body %}
  {% if session.logged_in %}
 
	{% if (elementlist|length)>0 %}



		<!---- Schema buttons moved here   -->
		<form novalidate="true" action="{{ url_for('wateringplan') }}" method="post" >	 
			<div class="well-sm bs-component" style="background:rgb(212, 221, 211)">
			<div class="row">
			<div class=" col-xs-3">				
				<button name="advconfig" type="submit" idref="actionbtn" class="thebutton btn btn-danger btn-md btn-block btn-warp dontwantgap">
					Schema Setup
				<span class="glyphicon glyphicon-cog"></span>
				</button>
			</div>			
			<div class=" col-xs-3">
				<button name="changename" type="submit" idref="actionbtn" class="thebutton btn btn-danger btn-md btn-block btn-warp dontwantgap">
					Schema Name
				</button>
			</div>
			<div class=" col-xs-3">
				<button name="sensorselect" type="submit" idref="actionbtn" class="thebutton btn btn-danger btn-md btn-block btn-warp dontwantgap">
					Select Sensors
				</button>
			</div>

			</div>
			</div>
			<div class="row top-buffer">
			</div>

			<input value="none" id="actionbtn" name="actionbtn" type="hidden" />
		</form>
		<!---- Schema buttons moved here   -->

			<ul class="nav nav-pills">
				{% for name in elementlist %}
					<li {% if name == selectedelement %} class="active"{% endif%}><a href="#{{ name }}" data-toggle="tab" style="font-size:1.2em;">{{ name }}</a></li>
				{% endfor %}
			</ul>


        <div class="tab-content">
			
		{% for elem in elementlist %} <!---- elem is the tab item  -->
		{% set row_i = loop %}	


         <div class="tab-pane {% if elem == selectedelement %}active{% endif%}" id="{{ elem }}">
			 
			 <!---- start panel  -->
		<form novalidate="true" action="{{ url_for('wateringplan') }}" method="post" >			 

			 
			 <input name="element" value="{{elem}}" type="hidden" />
			 		 
			 <input value="none" id="actionbtn{{elem}}" name="actionbtn" type="hidden" />
			 
			 <div class="panel panel-primary">
			  <div class="panel-heading">
				  <div class="row">
					    <div class=" col-xs-9">
							<span style="font-size:1.2em;">{{ elem }}</span>
						</div>
						<div class=" col-xs-3">				
							<button name="save" type="submit" idref="actionbtn{{elem}}" class="thebutton btn btn-danger btn-md btn-block btn-warp dontwantgap">Save
							<span class="glyphicon glyphicon-saved"></span>
							</button>
						</div>
					</div>
			  </div>
			  <div class="panel-body dontwantgapleft dontwantgapright">

				
				<!---- panel  body -->
				<table class="table table-condensed">
				<thead>
				  <tr>
					<th class="col-xs-2">Month</th>
					<th class="col-xs-2">Schema</th>
					<th class="col-xs-1">+++</th>
					<th class="col-xs-5">__Multiplier__</th>
					<th class="col-xs-1">+++</th>
					<th class="col-xs-1">delay (Sec)</th>
				  </tr>
				</thead>
				<tbody>




				
					{% set col = 3 %}
					{% set col_size = 12//col %}				
					{% for name in paramlist %}
					{% set col_i = loop %}

						  <tr>
							<td><strong class="text-uppercase lead">{{ name }}</strong></td>
							
							<td>
									<!--watering schema column (table1)-->

									<div class="form-group">
										
										<select class="form-control input-sm dontwantgap" name="{{elem}}_{{col_i.index0}}_0">
										{% for schema in schemaementlist %}	
											{% set option_i = loop %}
											<option {% if (table1[row_i.index0][col_i.index0]==(option_i.index0+1)) %}selected="selected"{% endif %} value="{{schema}}">{{schema}}</option>
										{% endfor %}											
										</select>
										
									</div>	
								
								 <!--<input value="{% if (table1|length)>0 %}{{ table1[row_i.index0][col_i.index0]}}{% endif %}" name="{{elem}}_{{col_i.index0}}_0" class="form-control" />
								-->


							</td>							
							
							
							<td>
								<button name="{{ elem }}{{ name }}" action="min" type="button" class="qtybutton btn btn-warning btn-sm btn-block dontwantgapleft dontwantgapright">
								<span class="glyphicon glyphicon-minus"></span>
								</button>
						
							</td>
							<td>
								<!--Time multiplier column (table)-->
									<div class="col-xs-12">
									<div class="drop" id="{{ elem }}{{ name }}">
										<!--{% for n in range(table[row_i.index0][col_i.index0]) %}
										<img src="/static/goccia-xs.png" style="height:35px"/>
										{% endfor %}-->
									</div>
									</div>

								<input type="hidden" value="{% if (table|length)>0 %}{{ table[row_i.index0][col_i.index0]}}{% endif %}" id="{{ elem }}{{ name }}_input" name="{{elem}}_{{col_i.index0}}" class="form-control" />

							
							</td>
							<td>
								<button name="{{ elem }}{{ name }}" action="plus" type="button" class="qtybutton btn btn-primary btn-sm btn-block dontwantgapleft dontwantgapright">
								<span class="glyphicon glyphicon-plus"></span>
								</button>
							
							
							</td>

							<td>
										<!--Delay column (table2)-->

								<input value="{% if (table2|length)>0 %}{{ table2[row_i.index0][col_i.index0]}}{% endif %}" name="{{elem}}_{{col_i.index0}}_1" class="form-control dontwantgap input-sm" />

							</td>


						  </tr>


			

				
				<!-- -- end panel content --->
				{% endfor %}				
			  </tbody>
			</table>			  
			  </div>		  
			  <div class="panel-footer">
				  <div class="row">

						<div class=" col-xs-3">				
							<button name="save" type="submit" idref="actionbtn{{elem}}" class="thebutton btn btn-danger btn-md btn-block btn-warp dontwantgap">Save
							<span class="glyphicon glyphicon-saved"></span>
							</button>
						</div>
					</div>
			   </div>
			
			
			</div>
         
		</form>
         
         </div>
         {% endfor %}
          
         
         
         
         
        </div>
        




		<script type="text/javascript">
			$(document).ready(function(){
				var imgtext='<img src="/static/dropv3 xs.jpg" style="height:30px;width:22px"/>';
				$(".drop").each(function() {  // fill the element with waterdropo images
				var thisid=$(this).attr('id');
				var val = $('#' + thisid +"_input").val();
				var num = parseInt(val);
				//alert(seltime);
				for (var i=0; i<num; i++)
				  {
					$(this).append(imgtext);
				  }
				});	

				
				$('.qtybutton').click(function(){ // quantity button pressed, add or remove water drop image
					var idbut=$(this).attr('name');
					var idimg=idbut;
					var action=$(this).attr('action');
					//alert(idimg);
					if (action=="plus") {
					var val = $('#' + idimg +"_input").val();
					var num = parseInt(val)+1;						
						
						if (num<7) {
								$('#' + idimg).append(imgtext);
								$('#' + idimg +"_input").val(num.toString());
						} 
						

					} else {
	
					var val = $('#' + idimg +"_input").val();
					var num = parseInt(val)-1;
					
						if (num>-1) {
							$('#' + idimg).children("img:first").remove();							
							$('#' + idimg +"_input").val(num.toString());
						} 
	
					

					}
					
					
				});
			})
			
			$(function() {
					$(".thebutton").click(function() {
						var selvalue=$(this).attr('name');
						//alert(selvalue);
						var idref=$(this).attr('idref');
						$('#' + idref).attr("value", selvalue);
					});  
				}); 
		
		</script>  


		{% else %}

									<div class="row">
										<div class="col-xs-12">
											<div style="height:100px"><h4> No actuator available</h4></div>
										
										</div>
									</div>


		{% endif %}






  {% else %}

		<h1>Please log in</h1>

  
  {% endif %}



{% endblock %}
