{% extends "layout.html" %}
{% set active_page = "weatherAPI" %}
{% block body %}
  {% if session.logged_in %}
  
   
<div class="container-fluid">
		
		
		<div class="row">
          <div class="col-xs-12">
            <div class="page-header">

						<h4 id="header">WARNING: The weather forecast feature is based on the data provided by weather provides. In case the weather provider changes the interface or add some restriction to the data usage, this feature will stop working.
						To have access to the weather data, you need to visit the provider web page in the link indicated below. Normally you will get a Key that will be used to query the provider datatbase. Hopefully in the future we will get more providers added to the list in the future.</h4>
            </div>
          </div>
        </div>
		
		
		
								

													
					
		
		
	{% if GUIitems|length > 0 %}	
	
	<div class="well bs-component">		
		
		
	<form action="{{ url_for('weatherAPI') }}" method="post" >  
								
		
		<div class="page-header">
				<h3 id="header">API Provider</h3>
		</div>					
		
		
		
		
	
		{% for items in GUIitems %}
				
				
			<div class="form-group">					
			<div class="row">


						
				{% if items.GUItype=="title" %}
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	
					<legend>{{items.name}}</legend>
				</div>
				{% else %}
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:right;">				
					<div>{{items.name}}</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					{% if items.GUItype=="input" %}	
						<input value="{{items.value}}" class="form-control input-sm" name="{{items.nameID}}" type="text">
					{% elif items.GUItype=="output" %}
						<input value="{{items.value}}" class="form-control input-sm" name="{{items.nameID}}" type="text" disabled>
					{% elif items.GUItype=="link" %}
						<a value="" name="{{items.nameID}}" href="{{items.value}}">{{items.value}}</a>

					{% endif %}
				
				
						{% if items.note!="" %}
						<div class="small">{{items.note}}</div>
						{% endif %}
					</div>
	
	
				{% endif %}
		
			</div>	
			</div>	




		{% endfor %}										
													
	</div>	
	
	
		<!-- testing buttons -->
		<div class="form-group">	
		<div class="row">
				
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	
			<button class="btn-sm btn btn-success btn-block " type="submit" name="buttonsub" value="TestQuery">Query the provider API</button>
			<div class="small">Note: If the query is successful the parameters in the above table will be populated</div>	
			</div>	
		</div>		
		</div>		
	
		<!-- testing buttons -->
		<div class="form-group">					
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">				
				<button class="testbutton btn-sm btn btn-info btn-block" type="button" name="APItesting" element="createURL">Test URL for quesry </button>

			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<!--<input class="form-control input-sm" id="createURL" disabled>-->
				<textarea class="form-control input-sm" id="createURL" rows="3">

				</textarea>
			</div>

		</div>	
		
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">				
				<button class="testbutton btn-sm btn btn-info btn-block"  type="button" name="APItesting" element="parse">Test query and Rain Multiplier Calculation</button>
						

			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<input class="form-control input-sm" id="parse" disabled>
			</div>

		</div>	
		
		</div>	
		
			

			
			
	<div class="well bs-component">				
			<!-- watering actuator choice  -->
		<div class="form-group">			
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<legend>Enable Rain multiplier in Irrigation Lines</legend>  
			</div>	
		</div>	
		</div>	
			
		 <table class="table table-sm" style="width: 100%">
				<colgroup>
				   <col span="1" style="width: 5%;">
				   <col span="1" style="width: 95%;">
				</colgroup>
		   	<tbody>		
			
			{% for item in wateringtemsGUI %}
			<tr>		
				<td>
					
						{% if item.active=="True" %}
						<input class="toggle-event" checked="checked" type="checkbox" reference="selsettingactive_{{ item.name }}">
						<input value="True" id="selsettingactive_{{ item.name }}" name="selsettingactive_{{ item.name }}" type="hidden">					
						{% else %}						
						<input class="toggle-event" type="checkbox" reference="selsettingactive_{{ item.name }}">
						<input value="False" id="selsettingactive_{{ item.name }}" name="selsettingactive_{{ item.name }}" type="hidden">	
						{% endif %}


				</td>						
				<td>

						<label>{{ item.name }}</label>

				</td>

			</tr>					
			{% endfor %}	
			

			</tbody>
		</table>
		
	</div> <!-- well componenet -->									
												
													
							
		<!-- testing buttons -->
		<div class="form-group">					

	
		<div class="row">

			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">				
				<button class=" btn btn-success btn-block" type="submit" name="buttonsub" value="apply">Apply Setting & Generate counter</button>

			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<button class=" btn btn-danger btn-block" type="submit" name="buttonsub" value="save">Save Config</button>
			</div>

		</div>	
		</div>		
	{% else %}
	
		<div class="well bs-component">		
	
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div>No data</div>  
			</div>	
		</div>	
		</div>			
	
	{% endif %}												
			

	</form>
	
	
	<div class="well bs-component">	
  
		<!-- Configuration management -->
		 <form  action="{{ url_for('weatherAPI') }}" id="menuFormupload" enctype="multipart/form-data" method="post" >	
	
	
		<!-- select and load preset HW config -->


		 <div class="page-header">
				<h3 id="header">Select Preset API config</h3>
		</div>

		<div class="form-group">
			
			<select class="form-control input-sm dontwantgap" name="APIfilelist">
			{% for name in presetfilenamelist %}	
				{% set option_i = loop %}
				<option {% if option_i.index0==0 %}selected="selected"{% endif %} value="{{name.filename}}">{{name.title}}</option>
			{% endfor %}											
			</select>
			
		</div>	
															
		<button class="btn-sm btn btn-default" type="submit" name="buttonsub" value="applypreset">Apply Selected API Setting</button>
		<div class="small">All the customization will be lost</div>		
				

			
		</form>

	</div> <!-- well componenet -->
		
	
	
	<div class="well bs-component">	
  
		<!-- Configuration management -->
		 <form  action="{{ url_for('weatherAPI') }}" id="menuFormupload" enctype="multipart/form-data" method="post" >

			<div class="page-header">
					  <h3>Import Configuration</h3>   
			</div>

		<!-- New filestyle plugin -->
		<script type=text/javascript src="{{url_for('static', filename='filestyle123/bootstrap-filestyle.min.js') }}"></script>

			<div class="row">
				<div class="col-xs-4">
					<label for="input_3">Import Configuration</label>
				</div>
				<div class="col-xs-8">
					<input class="filestyle" type="file" name="file">  
					<!-- <input class="btn-sm btn btn-default" type = "submit" value="uploadfile" name="buttonsub">  -->
				<!-- Button HTML (to Trigger Modal) -->
					<a href="#myModal2" role="button" class="btn-sm btn btn-default" data-toggle="modal">Upload and Apply</a>					
				
					
				</div>
			</div>	
			
			
				 
				<!-- Modal HTML -->
				<div id="myModal2" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Confirmation</h4>
							</div>
							<div class="modal-body">
								<p>Are you sure to replace the current setting?</p>
								<p class="text-warning"><small>All the current setting will be lost</small></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button id="uploadbtn" name="buttonsub" value="uploadfile" type="submit" class="btn btn-primary">Apply Configuration</button>
							</div>
						</div>
					</div>
				</div>

	
			

			
		</form>

	</div> <!-- well componenet -->
		
		
		
		
		
		
		
		
		
	<div class="well bs-component">		
		
		
		
  		<form  action="{{ url_for('weatherAPI') }}" id="menuForm3" class="jotform-form" method="post" >

			<div class="page-header">
					  <h3>Download Configuration</h3>   
			</div>



			<div class="row">
				<div class="col-xs-4">
					<label for="input_3">Download Configuration</label>
				</div>
				<div class="col-xs-8">

				<!-- Button HTML -->
				
							<!--  file 1 -->
					<div class="row">
						<div class="col-xs-6">
							<button class="downloadbutton btn-sm btn btn-default"  type="button" name="weatherAPIdata">DownloadConfigFiles</button>
						</div>
						<div class="col-xs-6">
							<a id="downloadlinkweatherAPIdata0" href="" ></a>
						</div>
					</div>	
					
					
				</div>
			</div>	

			<div class="row">
				<div class="col-xs-4">
					<label>Status:</label>
				</div>
				<div class="col-xs-4">
					<label id="downloadstatus" for="input_3">Status</label>
				</div>
			</div>	

		</form>

	</div> <!-- well componenet -->
	
</div>


			<script type=text/javascript>
			  $(function() {
				$(".downloadbutton").click(function() {
				
				// send ajax interrupt to flask 
				$('#downloadstatus').text("Status");

					var prid=$(this).attr('name');
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/downloadit/?name=" + prid,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#downloadstatus').text(data.answer);
									if (data.answer=="ready"){
										   setTimeout(function(){
													d = new Date();
													var filename=data.filename;
													//var fileurl="{{ url_for('static', filename=filename)}}"+"?"+d.getTime();
													
													fLen = filename.length;
													for (i = 0; i < fLen; i++) {
														var fileurl="{{ url_for('static', filename="")}}"+filename[i]+"?"+d.getTime();
														var filenameGUIlist=filename[i].split("/");
														var filenameGUI=filenameGUIlist[filenameGUIlist.length-1];
														$('#downloadlink'+prid+i.toString()).text(filenameGUI);
														$('#downloadlink'+prid+i.toString()).attr("href", fileurl);


													}
													
													
													
													
													

											}, 200);
									}

								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    
				
				// increment status bar should stay here


					
				});

			  });
			</script>



			<script>
			  $(function() {
				$('.toggle-event').change(function() {
					var togglevalue=$(this).prop('checked');
					var reference=$(this).attr('reference');		
					if (togglevalue==true) {
						$("#"+reference).val("True");										
					} else {
						$("#"+reference).val("False");	
					}
				})
			  })
			</script>



   
   		<script type=text/javascript>


				$(".testbutton").click(function() {
				//alert("test button pressed");
				// send ajax interrupt to flask to initiate the actuator test
				$('#'+elem).val("Started ...");
				var prid=$(this).attr('name');
				var elem=$(this).attr('element');
					$.ajax({
								type: "GET",
								url: $SCRIPT_ROOT + "/doit/?name=" + prid  + "&element=" + elem ,
								contentType: "application/json; charset=utf-8",
								data: { echoValue: "requestfordata" },
								success: function(data) {
									$('#'+elem).val(data.answer);
								},
								//error: function(jqXHR, textStatus, errorThrown) {
								//    alert(errorThrown);
								//}
							});    			
				});
			
			 
			</script>








  




																																						

  {% else %}

		<h1>Please log in</h1>

  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
